@font-face {
    font-family: "Rubik-Italic";
    src: url(./Fuentes/Rubik-Italic.ttf);
}
@font-face {
    font-family: "Rubik-Regular";
    src: url(./Fuentes/Rubik-Regular.ttf);
}
@font-face {
    font-family: "Rubik-Medium";
    src: url(./Fuentes/Rubik-Medium.ttf);
}


/* BODY */
body{

    background-image: url(./Imagenes/inicio\ fondo.png);
    background-color: #454960;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100vw 2818px;
    color: white;


}

/* HEADER */
header{

    
    display:flex;
    position:sticky;
    z-index: 10000;
    width: 93vw;
    height: 200px;
    top: 0%;
    gap: 2px;
    justify-content: flex-end;
    padding: 40px;
    font-size: 28px;
    color: #a19Dad;
    font-family: "Rubik-Regular";
    


}


.fb{
    width: 26px;
    height: 26px;
}


.ig{ 
    width: 26px;
    height: 26px;
    
}

.aig{
    display: flex;
    position: relative;
    height: 15px;
    top: 3%;
    
    
}

.afb{
    display: flex;
    position: relative;
    height: 15px;
    top: 3%;

}

.inicio{
    
    font-family: "Rubik-Medium";
}

.aElProyecto{
    height: 15px;
    color: #a19Dad;
    text-decoration: none;
}

.aElProyecto:hover{
    color: #ffffff;
}

.aNosotras{
    height: 15px;
    color: #a19Dad;
    text-decoration: none;
    
}

.aNosotras:hover{
    color: #ffffff;
}



/* MAIN */
main{
    display: flex;
    position:relative;
    flex-direction: column;
    width: 96vw;
    height: 2260px;
    justify-content: center;
    font-family: "Rubik-Regular";
}



.fragmentos{
    display: flex;
    position: absolute;
    top: 0%;
    left: 40%;
    font-size: 70px;
    font-weight: 200;
    font-family: "Rubik-Medium";
}

.dolor{
    display: flex;
    position: absolute;
    top: 5.5%;
    left: 41.3%;
    font-size:30px;
    color: #a19Dad;
    
}
.cristal{
    display: flex;
    position: absolute;
    top: 18%;
    left: 47.5%;
    width: 120px;
    height: 120px;
}

.pFragmentos{
    display: flex;
    position: absolute;
    bottom: 64%;
    left: 32.5%;
    text-align: center;
    font-weight: 599;
    font-size: 30px;

}





.aDescargar{
    display: flex;
    position: absolute;
    bottom: 43%;
    left: 43.5%;
    font-size: 60px;
    text-decoration: none;
}

.descargar{
    height: 80px;
    width: 280px;
    border-radius: 50px;
    font-size: 50px;
    background-color:#a19Dad;
    color:white;
    border: #ffffff;
    
}
.descargar:hover{
    color:#a19Dad;
    background-color: #ffffff
}




.requisitos{
    display: flex;
    position: absolute;
    bottom: 32%;
    left: 31.8%;
    text-align: center;
    font-size: 25px;
    color: #a19Dad;
    
}

.contacto{
    display: flex;
    position: absolute;
    bottom: 26%;
    left: 48%;
    text-align: center;
    font-size: 28px;
    color: white;

}

.contactoEmail{
    display: flex;
    position: absolute;
    bottom: 25.7%;
    left: 42.1%;
    text-align: center;
    font-size: 24px;
    color: #a19Dad;
}

/* FOOTER */
footer{
    display: flex;
    position: relative;
    height: 200px;
    width: 96vw;
    padding: 20px;
}

.metropolitano{
    display: flex;
    position: absolute;
    height: 120px;
    width: 500px;
    left: 36.8%;
    top: 30%;
    
}

@media (max-width: 1680px){

    .fragmentos{
        left: 38.35%;
    }

    .dolor{
        left: 39.5%;
    }

    .cristal{
        left: 47.1%;
    }

    .pFragmentos{
        font-size: 28px;
        left: 30.65%;
    }

    .aDescargar{
        left: 42.35%;
    }

    .requisitos{
        font-size: 23px;
        left: 29.95%;
    }

    .contacto{
        font-size: 26px;
        left: 47.5%;
    }

    .contactoEmail{
        font-size: 22px;
        left: 41.4%;

    }

    .metropolitano{
        height: 110px;
        width: 450px;
        left: 36%;
    }

}

@media (max-width: 1600px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
        
    }

    header{
        width: 92vw;
        font-size: 26px;
    }

    .fb{
        width: 24px;
        height: 24px;
    }
    
    
    .ig{ 
        width: 24px;
        height: 24px;
        
    }

    .fragmentos{
        left: 38.15%;
    }

    .dolor{
        left: 39.5%;
    }

    .cristal{
        left: 46.86%;
    }

    .pFragmentos{
        font-size: 27px;
        left: 30.2%;
    }

    .aDescargar{
        left: 41.9%;
    }

    .requisitos{
        font-size: 22px;
        left: 30.4%;
    }

    .contacto{
        font-size: 25px;
        left: 47.4%;
    }

    .contactoEmail{
        font-size: 21px;
        left: 41.3%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height: 110px;
        width: 450px;
        left: 37.4%;
    }

}


@media (max-width: 1536px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
        
    }

    header{
        width: 92vw;
        font-size: 26px;
    }

    .fb{
        width: 24px;
        height: 24px;
    }
    
    
    .ig{ 
        width: 24px;
        height: 24px;
        
    }

    .fragmentos{
        left: 37.75%;
    }

    .dolor{
        left: 39.4%;
    }

    .cristal{
        left: 46.86%;
    }

    .pFragmentos{
        font-size: 27px;
        left: 30.2%;
    }

    .aDescargar{
        left: 41.9%;
    }

    .requisitos{
        font-size: 22px;
        left: 30.4%;
    }

    .contacto{
        font-size: 25px;
        left: 47.7%;
    }

    .contactoEmail{
        font-size: 21px;
        left: 41.5%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height: 110px;
        width: 450px;
        left: 37.55%;
    }

}

@media (max-width: 1440px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
        
    }

    header{
        width: 92vw;
        font-size: 26px;
    }

    .fb{
        width: 24px;
        height: 24px;
    }
    
    
    .ig{ 
        width: 24px;
        height: 24px;
        
    }

    .fragmentos{
        left: 36.7%;
    }

    .dolor{
        left: 38.75%;
    }

    .cristal{
        left: 46.86%;
    }

    .pFragmentos{
        font-size: 27px;
        left: 30.1%;
    }

    .aDescargar{
        left: 41.5%;
    }

    .requisitos{
        font-size: 22px;
        left: 28.8%;
    }

    .contacto{
        font-size: 24px;
        left: 47.7%;
    }

    .contactoEmail{
        font-size: 21px;
        left: 40.8%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height: 110px;
        width: 450px;
        left: 36.7%;
    }

}

@media (max-width: 1366px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
        
    }

    header{
        width: 92vw;
        font-size: 24px;
    }

    .fb{
        width: 21px;
        height: 21px;
    }
    
    
    .ig{ 
        width: 21px;
        height: 21px;
        
    }

    .fragmentos{
        top: 0%;
        font-size: 60px;
        left: 37.2%;
    }

    .dolor{
        top: 4.6%;
        font-size: 26px;
        left: 38.75%;
    }

    .cristal{
        top: 20%;
        left: 46.3%;
    }

    .pFragmentos{
        font-size: 23px;
        left: 29.4%;
        top: 30%;
    }

    .aDescargar{
        left: 43%;
    }

    .descargar{
        height: 65px;
        width: 220px;
        font-size: 40px;
    }

    .requisitos{
        font-size: 20px;
        left: 28.6%;
        bottom: 35%;
    }

    .contacto{
        font-size: 22px;
        left: 47.1%;
    }

    .contactoEmail{
        bottom: 25.9%;
        font-size: 19px;
        left: 40.6%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height: 100px;
        width: 400px;
        left: 36.7%;
    }

}

@media (max-width: 1360px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
        
    }

    header{
        width: 92vw;
        font-size: 24px;
    }

    .fb{
        width: 21px;
        height: 21px;
    }
    
    
    .ig{ 
        width: 21px;
        height: 21px;
        
    }

    .fragmentos{
        top: 0%;
        font-size: 60px;
        left: 37.2%;
    }

    .dolor{
        top: 4.6%;
        font-size: 26px;
        left: 38.75%;
    }

    .cristal{
        top: 20%;
        left: 46.3%;
    }

    .pFragmentos{
        font-size: 23px;
        left: 29.4%;
        top: 30%;
    }

    .aDescargar{
        left: 43%;
    }

    .descargar{
        height: 65px;
        width: 220px;
        font-size: 40px;
    }

    .requisitos{
        font-size: 20px;
        left: 28.6%;
        bottom: 35%;
    }

    .contacto{
        font-size: 22px;
        left: 47.1%;
    }

    .contactoEmail{
        bottom: 25.9%;
        font-size: 19px;
        left: 40.6%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height: 100px;
        width: 400px;
        left: 36.7%;
    }

}

@media (max-width: 1280px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1280.png);
        
    }

    header{
        width: 90vw;
        font-size: 24px;
    }

    .fb{
        width: 21px;
        height: 21px;
    }
    
    
    .ig{ 
        width: 21px;
        height: 21px;
        
    }

    .fragmentos{
        top: 0%;
        font-size: 60px;
        left: 36.1%;
    }

    .dolor{
        top: 4.6%;
        font-size: 26px;
        left: 37.8%;
    }

    .cristal{
        top: 20%;
        left: 46%;
    }

    .pFragmentos{
        font-size: 23px;
        left: 27.8%;
        top: 30%;
    }

    .aDescargar{
        left: 40.5%;
    }

    .descargar{
        height: 75px;
        width: 250px;
        font-size: 45px;
    }

    .requisitos{
        font-size: 20px;
        left: 27%;
        bottom: 35%;
    }

    .contacto{
        font-size: 22px;
        left: 46.8%;
    }

    .contactoEmail{
        bottom: 25.9%;
        font-size: 19px;
        left: 39.8%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height: 110px;
        width: 450px;
        left: 33.5%;
    }

}

@media (max-width: 800px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
        
    }

    header{
        width: 90vw;
        font-size: 18px;
        padding: 25px;
        gap: 1px;
    }

    .fb{
        width: 16px;
        height: 16px;
    }
    
    
    .ig{ 
        width: 16px;
        height: 16px;
        
    }

    .aig{
        top: 1.8%;
    }

    .afb{
        top: 1.8%;
    }

    main{
        height: 2200px;
    }

    .fragmentos{
        top: 0%;
        font-size: 40px;
        left: 34.5%;
    }

    .dolor{
        top: 3.2%;
        font-size: 17px;
        left: 36.6%;
    }

    .cristal{
        top: 20%;
        left: 44.05%;
        height: 90px;
        width: 90px;
    }

    .pFragmentos{
        font-size: 18px;
        left: 23.2%;
        top: 30%;
    }

    .aDescargar{
        left: 39.4%;
    }

    .descargar{
        height: 50px;
        width: 160px;
        font-size: 30px;
    }

    .requisitos{
        font-size: 15px;
        left: 22.5%;
        bottom: 35%;
    }

    .contacto{
        font-size: 18px;
        left: 44.8%;
    }

    .contactoEmail{
        bottom: 25.9%;
        font-size: 15px;
        left: 36.35%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height:70px;
        width: 280px;
        left: 31.9%;
    }

}

@media (max-width: 768px){

    body{
        background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
        
    }

    header{
        width: 90vw;
        font-size: 18px;
        padding: 25px;
        gap: 1px;
    }

    .fb{
        width: 16px;
        height: 16px;
    }
    
    
    .ig{ 
        width: 16px;
        height: 16px;
        
    }

    .aig{
        top: 1.8%;
    }

    .afb{
        top: 1.8%;
    }

    main{
        height: 2200px;
    }

    .fragmentos{
        top: 0%;
        font-size: 40px;
        left: 34.8%;
    }

    .dolor{
        top: 3.2%;
        font-size: 17px;
        left: 36.8%;
    }

    .cristal{
        top: 20%;
        left: 44.7%;
        height: 90px;
        width: 90px;
    }

    .pFragmentos{
        font-size: 18px;
        left: 23.2%;
        top: 30%;
    }

    .aDescargar{
        left: 40.1%;
    }

    .descargar{
        height: 50px;
        width: 160px;
        font-size: 30px;
    }

    .requisitos{
        font-size: 15px;
        left: 22.5%;
        bottom: 35%;
    }

    .contacto{
        font-size: 18px;
        left: 45.7%;
    }

    .contactoEmail{
        bottom: 25.9%;
        font-size: 15px;
        left: 36.6%;
    }

    footer{
    width: 90vw;
    }

    .metropolitano{
        height:70px;
        width: 280px;
        left: 32.1%;
    }

}

@media (min-width: 599px) and (max-width: 601px){

    
    header{
        width: 80vw;
        font-size: 12px;
        gap: 1px;
    }

    .inicio{
        font-weight: 590;
        font-family: "Rubik-Medium";
    }

    .fb{
        width: 10px;
        height: 10px;
    }
    
    .ig{ 
        width: 10px;
        height: 10px;
        
    }

    .aig{
        display: flex;
        position: relative;
        height: 15px;
        top: 2%;
    }
    
    .afb{
        display: flex;
        position: relative;
        height: 15px;
        top: 2%;
    
    }

    main{
        width: 80vw;
    }

    .fragmentos{
        top: 0%;
        left: 31%;
        font-size: 38px;
    }

    .dolor{
        left: 32%;
        font-size: 18px;
        top: 3.3%;
    }

    .cristal{
        top: 20%;
        left: 50%;
        height: 80px;
        width: 80px;
    }

    .pFragmentos{
        font-size: 11px;
        left: 25%;
    }

    .descargar{
        height: 40px;
        width: 130px;
        font-size: 25px;
    }

    .aDescargar{
        left: 43%;
        bottom: 34%;
    }

    .requisitos{
        left: 22%;
        font-size: 10px;
    }

    .metropolitano{
        height: 70px;
        width: 300px;
        left: 20%;
    }

    footer{
        width: 80vw;
    }

}

@media (max-width: 412px){

    
    header{
        width: 85vw;
        font-size: 10px;
        gap: 1px;
        padding: 10px;
        top: 2%;
    }

    .inicio{
        font-weight: 590;
        font-family: "Rubik-Medium";
    }

    .fb{
        width: 8px;
        height: 8px;
    }
    
    .ig{ 
        width: 8px;
        height: 8px;
        
    }

    .aig{
        display: flex;
        position: relative;
        height: 15px;
        top: 1.5%;
    }
    
    .afb{
        display: flex;
        position: relative;
        height: 15px;
        top: 1.5%;
    
    }

    main{
        width: 97vw;
    }

    .fragmentos{
        top: 0%;
        left: 22%;
        font-size: 30px;
    }

    .dolor{
        left: 24%;
        font-size: 14px;
        top: 2.5%;
    }

    .cristal{
        left: 39.4%;
        height: 80px;
        width: 80px;
    }

    .pFragmentos{
        font-size:9.4px;
        left: 12.8%;
    }

    .descargar{
        height: 30px;
        width: 100px;
        font-size: 20px;
    }

    .aDescargar{
        left: 32.7%;
        bottom: 33%;
    }

    .requisitos{
        left: 13.5%;
        font-size: 8px;
    }

    .metropolitano{
        height: 50px;
        width: 220px;
        left: 15.2%;
    }

    footer{
        width: 70vw;
    }

}

@media (max-width: 385px){

    
    header{
        width: 85vw;
        font-size: 10px;
        gap: 1px;
        padding: 10px;
        top: 2%;
    }

    .inicio{
        font-weight: 590;
        font-family: "Rubik-Medium";
    }

    .fb{
        width: 8px;
        height: 8px;
    }
    
    .ig{ 
        width: 8px;
        height: 8px;
        
    }

    .aig{
        display: flex;
        position: relative;
        height: 15px;
        top: 1.5%;
    }
    
    .afb{
        display: flex;
        position: relative;
        height: 15px;
        top: 1.5%;
    
    }

    main{
        width: 97vw;
    }

    .fragmentos{
        top: 0%;
        left: 22%;
        font-size: 30px;
    }

    .dolor{
        left: 24%;
        font-size: 14px;
        top: 2.5%;
    }

    .cristal{
        left: 39.4%;
        height: 80px;
        width: 80px;
    }

    .pFragmentos{
        font-size:9.4px;
        left: 12.8%;
    }

    .descargar{
        height: 30px;
        width: 100px;
        font-size: 20px;
    }

    .aDescargar{
        left: 32.7%;
        bottom: 33%;
    }

    .requisitos{
        left: 13.5%;
        font-size: 8px;
    }

    .metropolitano{
        height: 50px;
        width: 220px;
        left: 15.2%;
    }

    footer{
        width: 70vw;
    }

}

@media (max-width: 360px){

    
    header{
        width: 85vw;
        font-size: 10px;
        gap: 1px;
        padding: 10px;
        top: 2%;
    }

    .inicio{
        font-weight: 590;
        font-family: "Rubik-Medium";
    }

    .fb{
        width: 8px;
        height: 8px;
    }
    
    .ig{ 
        width: 8px;
        height: 8px;
        
    }

    .aig{
        display: flex;
        position: relative;
        height: 15px;
        top: 1.5%;
    }
    
    .afb{
        display: flex;
        position: relative;
        height: 15px;
        top: 1.5%;
    
    }

    main{
        width: 97vw;
    }

    .fragmentos{
        top: 0%;
        left: 22%;
        font-size: 30px;
    }

    .dolor{
        left: 24%;
        font-size: 14px;
        top: 2.5%;
    }

    .cristal{
        left: 39.4%;
        height: 80px;
        width: 80px;
    }

    .pFragmentos{
        font-size:9.4px;
        left: 12.8%;
    }

    .descargar{
        height: 30px;
        width: 100px;
        font-size: 20px;
    }

    .aDescargar{
        left: 32.7%;
        bottom: 33%;
    }

    .requisitos{
        left: 13.5%;
        font-size: 8px;
    }

    .metropolitano{
        height: 50px;
        width: 220px;
        left: 15.2%;
    }

    footer{
        width: 70vw;
    }

}








