@font-face {
    font-family: "Rubik-Italic";
    src: url(./Fuentes/Rubik-Italic.ttf);
}
@font-face {
    font-family: "Rubik-Regular";
    src: url(./Fuentes/Rubik-Regular.ttf);
}
@font-face {
    font-family: "Rubik-Medium";
    src: url(./Fuentes/Rubik-Medium.ttf);
}

/* BODY */
body{
    background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1920.png);
    background-color: #373442;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw 3957px;
    color: white;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10.5px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color:#373442;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* HEADER */

header{
    background-color: #3f3543;
    display: flex;
    position: sticky;
    z-index: 10000;
    width: 340px;
    height: 30px;
    top: 0%;
    left: 100%;
    gap: 4px;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    color: #a19Dad;
    font-family: "Rubik-Regular";

}




.aInicio{
    height: 15px;
    color: #a19Dad;
    text-decoration: none;
}

.aInicio:hover{
    color:white;
}

.proyecto{
    
    font-family: "Rubik-Medium" ;
}

.aNosotras{
    height: 15px;
    color: #a19Dad;
    text-decoration: none;
}

.aNosotras:hover{
    color: white;
}

/* MAIN */
main{
    display: flex;
    position: relative;
    width: 98vw;
    height: 3130px;
    font-family: "Rubik-Regular";
}


.introduccion{
    display: flex;
    position: absolute;
    width: 75vw;
    top: 2.5%;
    left: 20.68%;
    font-size: 28px;
    text-align: center;
}

.cristal1{
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 12.8%;
    left: 46.9%;
    
}

.reconocimientos{
    display: flex;
    position: absolute;
    width: 40vw;
    top: 20%;
    left: 39.5%;
    font-size: 26px;
}

.reconocidos{
    display: flex;
    position: absolute;
    width: 92vw;
    top: 21%;
    left: 1.5%;
    font-size: 26px;
    text-align: center;
    flex-direction: column;
    color: #a19Dad;
}

.cristal2{
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 53%;
    left: 46.9%;
    
}



.creditos{
    display: flex;
    position: absolute;
    width: 20vw;
    bottom: 46%;
    left: 46.95%;
    font-size: 35px;
}

.idea{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 45%;
    left: 42.45%;
    font-size: 26px;
    font-weight: 550;
    color: #a19Dad;
}

.diseñadoras{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 43.1%;
    left: 43.58%;
    font-size: 26px;
    text-align: center;
}

.musica{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 41.15%;
    left: 48.4%;
    font-size: 26px;
    font-weight: 550;
    color: #a19Dad;
}

.musicalista{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 40.35%;
    left: 45.05%;
    font-size: 26px;
}

.sonido{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 38.3%;
    left: 41.1%;
    font-size: 26px;
    color: #a19Dad;
    font-weight: 550;
}

.sonidista{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 37.4%;
    left: 44.33%;
    font-size: 26px;
}

.programacion{
    display: flex;
    position: absolute;
    width: 20vw;
    bottom: 35.4%;
    left: 45.9%;
    font-size: 26px;
    color: #a19Dad;
    font-weight: 550;

}

.programadores{
    display: flex;
    position: absolute;
    width: 25vw;
    bottom: 32.5%;
    left: 44.45%;
    font-size: 26px;
    text-align: center;
}


.testimonios{
    display: flex;
    position: absolute;
    width: 25vw;
    bottom: 30.5%;
    left: 46.72%;
    font-size: 26px;
    font-weight: 550;
    color: #a19Dad;
}

.testores{
    display: flex;
    position: absolute;
    width: 60vw;
    bottom: 26.7%;
    left: 29.15%;
    font-size: 26px;
    text-align: center;
}

.agradecemos{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 24.5%;
    left: 42.35%;
    font-size: 26px;
    color: #a19Dad;

}

.agradecidos{
    display: flex;
    position: absolute;
    width: 76vw;
    left: 18%;
    bottom: 16.6%;
    font-size: 26px;
    font-weight: 550;
    text-align: center;
    
}




/* FOOTER */
footer{
    display: flex;
    position: relative;
    height: 734px;
    width: 96vw;
    bottom: 0%;
    padding: 10px; 
    font-family: "Rubik-Regular";
}

.metropolitano{
    display: flex;
    position: absolute;
    height: 120px;
    width: 500px;
    top: -55%;
    left: 37.55%;

}

.apoyoDelPrograma{
    display: flex;
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 100px;
    top: -40%;
    left: 30.8%;
    color: #a19Dad;
    font-size: 26px;
    font-weight:550;
}

.enMemoria{
    display: flex;
    position: absolute;
    width: 70vw;
    height: 100px;
    top: 4%;
    left: 27.2%;
    font-size: 28px;
}



@media (max-width: 1680px){

    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1600.png);
        background-size: 100vw 3462px;
    }

    main{
        height: 2640px;
    }
    

    .introduccion{
        width: 80vw;
        font-size: 26px;
        left: 17.05%;
    }

    .cristal1{
        left: 46.75%;
    }

    .reconocimientos{
        font-size: 24px;
        left: 37.95%;
    }

    .reconocidos{
        font-size: 24px;;
        left: 0.9%;
    }

    .cristal2{
        left: 46.75%;
        bottom: 52%;
    }

    .creditos{
        font-size: 26px;
        left: 47.3%;
        bottom: 46%;
    }

    .idea{
        bottom: 44.5%;
        font-size: 24px;
        left: 41.5%;
    }

    .diseñadoras{
        font-size: 24px;
        left: 42.7%;
        bottom: 42.4%;
    }

    .musica{
        font-size: 24px;
        left: 48%;
        bottom: 40.6%;
    }

    .musicalista{
        font-size: 24px;
        left: 44.35%;
        bottom: 39.7%;
    }

    .sonido{
        font-size: 24px;
        left: 39.85%;
        bottom: 37.9%;
    }

    .sonidista{
        font-size: 24px;
        left: 43.5%;
        bottom: 37%;
    }

    .programacion{
        font-size: 24px;
        left: 45.55%;
        bottom: 35.2%;
    }

    .programadores{
        font-size: 24px;
        left: 43.7%;
        bottom: 32%;
    }

    .testimonios{
        font-size: 24px;
        left: 46.3%;
        bottom: 30.2%;
    }

    .testores{
        font-size: 24px;
        left: 26.25%;
        bottom: 26%;
    }

    .agradecemos{
        font-size: 24px;
        left: 41.3%;
        bottom: 23.8%;
    }

    .agradecidos{
        font-size: 24px;
        width: 83vw;
        left: 13.85%;
        bottom: 15%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 35.6%;
        top: -40%;
    }

    .apoyoDelPrograma{
        font-size: 24px;
        left: 27.95%;
        top: -25%;
    }

    .enMemoria{
        font-size: 26px;
        left: 24.05%;
        top: 15%;
    }
}

@media (max-width: 1600px){

    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1600.png);
        background-size: 100vw 3462px;
    }

    main{
        height: 2640px;
    }
    

    .introduccion{
        width: 80vw;
        font-size: 26px;
        left: 17.05%;
    }

    .cristal1{
        left: 46.75%;
    }

    .reconocimientos{
        font-size: 24px;
        left: 37.95%;
    }

    .reconocidos{
        font-size: 24px;;
        left: 0.9%;
    }

    .cristal2{
        left: 46.75%;
        bottom: 52%;
    }

    .creditos{
        font-size: 26px;
        left: 47.3%;
        bottom: 46%;
    }

    .idea{
        bottom: 44.5%;
        font-size: 24px;
        left: 41.5%;
    }

    .diseñadoras{
        font-size: 24px;
        left: 42.7%;
        bottom: 42.4%;
    }

    .musica{
        font-size: 24px;
        left: 48%;
        bottom: 40.6%;
    }

    .musicalista{
        font-size: 24px;
        left: 44.35%;
        bottom: 39.7%;
    }

    .sonido{
        font-size: 24px;
        left: 39.85%;
        bottom: 37.9%;
    }

    .sonidista{
        font-size: 24px;
        left: 43.5%;
        bottom: 37%;
    }

    .programacion{
        font-size: 24px;
        left: 45.55%;
        bottom: 35.2%;
    }

    .programadores{
        font-size: 24px;
        left: 43.7%;
        bottom: 32%;
    }

    .testimonios{
        font-size: 24px;
        left: 46.3%;
        bottom: 30.2%;
    }

    .testores{
        font-size: 24px;
        left: 26.25%;
        bottom: 26%;
    }

    .agradecemos{
        font-size: 24px;
        left: 41.3%;
        bottom: 23.8%;
    }

    .agradecidos{
        font-size: 24px;
        width: 83vw;
        left: 13.85%;
        bottom: 15%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 35.6%;
        top: -40%;
    }

    .apoyoDelPrograma{
        font-size: 24px;
        left: 27.95%;
        top: -25%;
    }

    .enMemoria{
        font-size: 26px;
        left: 24.05%;
        top: 15%;
    }
}

@media (max-width: 1536px){

    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1600.png);
        background-size: 100vw 3462px;
    }

    main{
        height: 2640px;
    } 

    .introduccion{
        width: 80vw;
        font-size: 26px;
        left: 15.8%;
    }

    .cristal1{
        left: 46.6%;
    }

    .reconocimientos{
        font-size: 24px;
        left: 37.4%;
    }

    .reconocidos{
        font-size: 24px;;
        left: 0.9%;
    }

    .cristal2{
        left: 46.6%;
        bottom: 52%
    }

    .creditos{
        font-size: 26px;
        left: 47.1%;
        bottom: 46%;
    }

    .idea{
        bottom: 44.5%;
        font-size: 24px;
        left: 41.05%;
    }

    .diseñadoras{
        font-size: 24px;
        left: 42.45%;
        bottom: 42.4%;
    }

    .musica{
        font-size: 24px;
        left: 47.9%;
        bottom: 40.6%;
    }

    .musicalista{
        font-size: 24px;
        left: 44.05%;
        bottom: 39.7%;
    }

    .sonido{
        font-size: 24px;
        left: 39.4%;
        bottom: 37.9%;
    }

    .sonidista{
        font-size: 24px;
        left: 43.15%;
        bottom: 37%;
    }

    .programacion{
        font-size: 24px;
        left: 45.25%;
        bottom: 35.2%;
    }

    .programadores{
        font-size: 24px;
        left: 43.35%;
        bottom: 32%;
    }

    .testimonios{
        font-size: 24px;
        left: 46%;
        bottom: 30.2%;
    }

    .testores{
        font-size: 24px;
        left: 25.3%;
        bottom: 26%;
    }

    .agradecemos{
        font-size: 24px;
        left: 41%;
        bottom: 23.8%;
    }

    .agradecidos{
        font-size: 24px;
        width: 83vw;
        left: 12.25%;
        bottom: 15%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 34.9%;
        top: -40%;
    }

    .apoyoDelPrograma{
        font-size: 24px;
        left: 27.05%;
        top: -25%;
    }

    .enMemoria{
        font-size: 26px;
        left: 22.95%;
        top: 15%;
    }
}

@media (max-width: 1440px){

    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1600.png);
        background-size: 100vw 3462px;
    }

    main{
        height: 2640px;
    }    

    .introduccion{
        width: 80vw;
        font-size: 26px;
        left: 13.4%;
    }

    .cristal1{
        left: 46.2%;
    }

    .reconocimientos{
        font-size: 24px;
        left: 36.5%;
    }

    .reconocidos{
        font-size: 24px;;
        left: 0.7%;
    }

    .cristal2{
        left: 46.2%;
        bottom: 52%;
    }

    .creditos{
        font-size: 26px;
        left: 46.9%;
        bottom: 46%;
    }

    .idea{
        bottom: 44.5%;
        font-size: 24px;
        left: 40.4%;
    }

    .diseñadoras{
        font-size: 24px;
        left: 41.85%;
        bottom: 42.4%;
    }

    .musica{
        font-size: 24px;
        left: 47.7%;
        bottom: 40.6%;
    }

    .musicalista{
        font-size: 24px;
        left: 43.55%;
        bottom: 39.7%;
    }

    .sonido{
        font-size: 24px;
        left: 38.65%;
        bottom: 37.9%;
    }

    .sonidista{
        font-size: 24px;
        left: 42.63%;
        bottom: 37%;
    }

    .programacion{
        font-size: 24px;
        left: 44.8%;
        bottom: 35.2%;
    }

    .programadores{
        font-size: 24px;
        left: 42.85%;
        bottom: 32%;
    }

    .testimonios{
        font-size: 24px;
        left: 45.65%;
        bottom: 30.2%;
    }

    .testores{
        font-size: 24px;
        left: 23.6%;
        bottom: 26%;
    }

    .agradecemos{
        font-size: 24px;
        left: 40.25%;
        bottom: 23.8%;
    }

    .agradecidos{
        font-size: 24px;
        width: 83vw;
        left: 9.65%;
        bottom: 15%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 33.9%;
        top: -40%;
    }

    .apoyoDelPrograma{
        font-size: 24px;
        left: 25.45%;
        top: -25%;
    }

    .enMemoria{
        font-size: 26px;
        left: 21.05%;
        top: 15%;
    }
}

@media (max-width: 1366px){

    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1440.png);
        background-size: 100vw 2967px;
    }

    main{
        height: 2480px;
    }

    .introduccion{
        top: 2%;
        width: 75vw;
        font-size: 22px;
        left: 17.20%;
    }

    .cristal1{
        top: 11.8%;
        left: 46.55%;
        width: 110px;
        height: 110px;
    }

    .reconocimientos{
        top: 19.4%;
        font-size: 20px;
        left: 38.30%;
    }

    .reconocidos{
        top: 20.5%;
        font-size: 20px;
        left: 0.65%;
    }

    .cristal2{
        bottom: 54%;
        width: 110px;
        height: 110px;
        left: 46.55%;
    }

    .creditos{
        bottom: 48%;
        font-size: 22px; ;
        left: 47.25%;
    }

    .idea{
        bottom: 47.1%;
        font-size: 20px;
        left: 41.55%;
    }

    .diseñadoras{
        bottom: 45.2%;
        font-size: 20px;
        left: 42.95%;
    }

    .musica{
        bottom: 43%;
        font-size: 20px;
        left: 48%;
    }

    .musicalista{
        bottom: 42.1%;
        font-size: 20px;
        left: 44.25%;
    }

    .sonido{
        bottom: 39.9%;
        font-size: 20px;
        left: 40%;
    }

    .sonidista{
        bottom: 38.9%;
        font-size: 20px;
        left: 43.5%;
    }

    .programacion{
        bottom: 36.6%;
        font-size: 20px;
        left: 45.55%;
    }

    .programadores{
        bottom: 33.6%;
        font-size: 20px;
        left: 43.85%;
    }

    .testimonios{
        bottom: 31.4%;
        font-size: 20px;
        left: 46.3%;
    }

    .testores{
        bottom: 27.5%;
        font-size: 20px;;
        left: 26.7%;
    }

    .agradecemos{
        bottom: 25%;
        left: 41.45%;
        font-size: 20px;;
    }

    .agradecidos{
        bottom: 17%;
        font-size: 20px;
        width: 86vw;
        left: 14.25%;
    }

    footer{
        height: 400px;
    }

    .metropolitano{
        height: 90px;
        width: 380px;
        left: 36.55%;
        top: -85%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 20px;
        left: 28.25%;
        top: -65%;
    }

    .enMemoria{
        top: -22%;
        font-size: 22px;
        left: 23.85%;
    }
}

@media (max-width: 1360px){

    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1440.png);
        background-size: 100vw 2967px;
    }

    main{
        height: 2480px;
    }

    .introduccion{
        top: 2%;
        width: 75vw;
        font-size: 22px;
        left: 17.05%;
    }

    .cristal1{
        top: 11.8%;
        left: 46.35%;
        width: 110px;
        height: 110px;
    }

    .reconocimientos{
        top: 19.4%;
        font-size: 20px;
        left: 38.15%;
    }

    .reconocidos{
        top: 20.5%;
        font-size: 20px;
        left: 0.5%;
    }

    .cristal2{
        bottom: 54%;
        width: 110px;
        height: 110px;
        left: 46.35%;
    }

    .creditos{
        bottom: 48%;
        font-size: 22px; ;
        left: 47.1%;
    }

    .idea{
        bottom: 47.1%;
        font-size: 20px;
        left: 41.4%;
    }

    .diseñadoras{
        bottom: 45.2%;
        font-size: 20px;
        left: 42.8%;
    }

    .musica{
        bottom: 43%;
        font-size: 20px;
        left: 47.9%;
    }

    .musicalista{
        bottom: 42.1%;
        font-size: 20px;
        left: 44.15%;
    }

    .sonido{
        bottom: 39.9%;
        font-size: 20px;
        left: 39.8%;
    }

    .sonidista{
        bottom: 38.9%;
        font-size: 20px;
        left: 43.35%;
    }

    .programacion{
        bottom: 36.6%;
        font-size: 20px;
        left: 45.4%;
    }

    .programadores{
        bottom: 33.6%;
        font-size: 20px;
        left: 43.65%;
    }

    .testimonios{
        bottom: 31.4%;
        font-size: 20px;
        left: 46.1%;
    }

    .testores{
        bottom: 27.5%;
        font-size: 20px;;
        left: 26.5%;
    }

    .agradecemos{
        bottom: 25%;
        left: 41.25%;
        font-size: 20px;;
    }

    .agradecidos{
        bottom: 17%;
        font-size: 20px;
        width: 85vw;
        left: 14.05%;
    }

    footer{
        height: 400px;
    }

    .metropolitano{
        height: 90px;
        width: 380px;
        left: 36.4%;
        top: -85%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 20px;
        left: 28.1%;
        top: -65%;
    }

    .enMemoria{
        top: -22%;
        font-size: 22px;
        left: 23.7%;
    }
}


@media (max-width: 1280px){

    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 1440.png);
        background-size: 100vw 2967px;
    }

    main{
        height: 2480px;
    }

    .introduccion{
        top: 2%;
        width: 75vw;
        font-size: 22px;
        left: 14.55%;
    }

    .cristal1{
        top: 11.8%;
        left: 46%;
        width: 110px;
    height: 110px;
    }

    .reconocimientos{
        top: 19.4%;
        font-size: 20px;
        left: 37.25%;
    }

    .reconocidos{
        top: 20.5%;
        font-size: 20px;
        left: 0.2%;
    }

    .cristal2{
        bottom: 54%;
        width: 110px;
        height: 110px;
        left: 46%;
    }

    .creditos{
        bottom: 48%;
        font-size: 22px ;
        left: 46.8%;
    }

    .idea{
        bottom: 47.1%;
        font-size: 20px;
        left: 40.65%;
    }

    .diseñadoras{
        bottom: 45.2%;
        font-size: 20px;
        left: 42.2%;
    }

    .musica{
        bottom: 43%;
        font-size: 20px;
        left: 47.60%;
    }

    .musicalista{
        bottom: 42.1%;
        font-size: 20px;
        left: 43.7%;
    }

    .sonido{
        bottom: 39.9%;
        font-size: 20px;
        left: 39.1%;
    }

    .sonidista{
        bottom: 38.9%;
        font-size: 20px;
        left: 42.65%;
    }

    .programacion{
        bottom: 36.6%;
        font-size: 20px;
        left: 45%;
    }

    .programadores{
        bottom: 33.6%;
        font-size: 20px;
        left: 43.1%;
    }

    .testimonios{
        bottom: 31.4%;
        font-size: 20px;
        left: 45.75%;
    }

    .testores{
        bottom: 27.5%;
        font-size: 20px;
        left: 24.7%;
    }

    .agradecemos{
        bottom: 25%;
        left: 40.35%;
        font-size: 20px;
    }

    .agradecidos{
        bottom: 17%;
        font-size: 20px;
        width: 80vw;
        left: 11.6%;
    }

    footer{
        height: 400px;
    }

    .metropolitano{
        height: 90px;
        width: 380px;
        left: 35.35%;
        top: -85%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 20px;
        left: 26.35%;
        top: -65%;
    }

    .enMemoria{
        top: -22%;
        font-size: 22px;
        left: 21.65%;
    }
}

@media (max-width: 800px){

    body{
        background-size: 100vw 2650px;
    }

    header {
    
        width: 250px;
        font-size: 18px;
        padding: 8px;
        height: 25px;
        
        }

    main{
        width: 97vw;
        height: 2100px;
    }

    .introduccion{
        top: 2%;
        width: 88vw;
        font-size: 15px;
        left: 10.4%;
    }

    .cristal1{
        top: 12%;
        left: 44.8%;
        width: 90px;
        height: 90px;
    }

    .reconocimientos{
        top: 23.5%;
        font-size: 13px;
        left: 36.5%;
    }

    .reconocidos{
        width: 95vw;
        top: 25%;
        font-size: 13px;
        left: -3.4%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 90px;
        height: 90px;
        left: 44.8%;
    }

    .creditos{
        bottom: 39.5%;
        font-size: 15px ;
        left: 46.68%;
    }

    .idea{
        bottom: 38%;
        font-size: 13px;
        left: 40.4%;
    }

    .diseñadoras{
        bottom: 36.5%;
        font-size: 13px;
        left: 42%;
    }

    .musica{
        bottom: 35%;
        font-size: 13px;
        left: 47.8%;
    }

    .musicalista{
        bottom: 34.3%;
        font-size: 13px;
        left: 43.75%;
    }

    .sonido{
        bottom: 32.8%;
        font-size: 13px;
        left: 38.75%;
    }

    .sonidista{
        bottom: 32%;
        font-size: 13px;
        left: 42.3%;
    }

    .programacion{
        bottom: 30.5%;
        font-size: 13px;
        left: 44.9%;
    }

    .programadores{
        bottom: 28%;
        font-size: 13px;
        left: 42.8%;
    }

    .testimonios{
        bottom: 26%;
        font-size: 13px;
        left: 45.7%;
    }

    .testores{
        bottom: 22.8%;
        font-size: 13px;
        left: 23.6%;
    }

    .agradecemos{
        bottom: 20.5%;
        left: 40%;
        font-size: 13px;
    }

    .agradecidos{
        bottom: 13%;
        font-size: 13px;
        width: 86vw;
        left: 9.9%;
    }

    footer{
        width: 88vw;
        height: 450px;
    }

    .metropolitano{
        height: 65px;
        width: 250px;
        left: 36.9%;
        top: -35%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 13px;
        left: 26.8%;
        top: -15%;
    }

    .enMemoria{
        top: 15%;
        font-size: 15px;
        left: 20.1%;
    }
}

@media (max-width: 768px){

    body{
        background-size: 100vw 2850px;
    }

    header {
    
        width: 250px;
        font-size: 18px;
        padding: 7px;
        height: 20px;
        
        }



    main{
        width: 97vw;
        height: 2100px;
    }

    .introduccion{
        top: 2%;
        width: 88vw;
        font-size: 15px;
        left: 8.9%;
    }

    .cristal1{
        top: 12%;
        left: 44.5%;
        width: 90px;
        height: 90px;
    }

    .reconocimientos{
        top: 23.5%;
        font-size: 13px;
        left: 35.6%;
    }

    .reconocidos{
        width: 95vw;
        top: 25%;
        font-size: 13px;
        left: -3.95%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 90px;
        height: 90px;
        left: 44.5%;
    }

    .creditos{
        bottom: 39.3%;
        font-size: 15px ;
        left: 46.68%;
    }

    .idea{
        bottom: 38%;
        font-size: 13px;
        left: 39.7%;
    }

    .diseñadoras{
        bottom: 36.5%;
        font-size: 13px;
        left: 41.5%;
    }

    .musica{
        bottom: 35%;
        font-size: 13px;
        left: 47.5%;
    }

    .musicalista{
        bottom: 34.3%;
        font-size: 13px;
        left: 43.5%;
    }

    .sonido{
        bottom: 32.8%;
        font-size: 13px;
        left: 38.1%;
    }

    .sonidista{
        bottom: 32%;
        font-size: 13px;
        left: 42.1%;
    }

    .programacion{
        bottom: 30.5%;
        font-size: 13px;
        left: 44.6%;
    }

    .programadores{
        bottom: 28%;
        font-size: 13px;
        left: 42.5%;
    }

    .testimonios{
        bottom: 26%;
        font-size: 13px;
        left: 45.5%;
    }

    .testores{
        bottom: 22.8%;
        font-size: 13px;
        left: 22.25%;
    }

    .agradecemos{
        bottom: 20.5%;
        left: 39.55%;
        font-size: 13px;
    }

    .agradecidos{
        bottom: 13%;
        font-size: 13px;
        width: 86vw;
        left: 8%;
    }

    footer{
        width: 88vw;
        height: 450px;
    }

    .metropolitano{
        height: 65px;
        width: 250px;
        left: 36%;
        top: -35%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 13px;
        left: 25.8%;
        top: -15%;
    }

    .enMemoria{
        top: 15%;
        font-size: 15px;
        left: 18.85%;
    }
}

@media (max-width: 720px){

    body{
        background-size: 100vw 2650px;
    }

    header{
        width: 250px;
        font-size: 18px;
        padding: 7px;
        height: 20px;
        
    }


    main{
        width: 97vw;
        height: 2100px;
    }

    .introduccion{
        top: 2%;
        width: 88vw;
        font-size: 14px;
        left: 10.6%;
    }

    .cristal1{
        top: 12%;
        left: 44.7%;
        width: 80px;
        height: 80px;
    }

    .reconocimientos{
        top: 23.5%;
        font-size: 12px;
        left: 35.95%;
    }

    .reconocidos{
        width: 95vw;
        top: 25%;
        font-size: 12px;
        left: -4.15%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 80px;
        height: 80px;
        left: 44.7%;
    }

    .creditos{
        bottom: 39.3%;
        font-size: 14px ;
        left: 46.68%;
    }

    .idea{
        bottom: 38%;
        font-size: 12px;
        left: 39.7%;
    }

    .diseñadoras{
        bottom: 36.5%;
        font-size: 12px;
        left: 41.7%;
    }

    .musica{
        bottom: 35%;
        font-size: 12px;
        left: 47.55%;
    }

    .musicalista{
        bottom: 34.3%;
        font-size: 12px;
        left: 43.35%;
    }

    .sonido{
        bottom: 32.6%;
        font-size: 12px;
        left: 38.2%;
    }

    .sonidista{
        bottom: 32%;
        font-size: 12px;
        left: 42.25%;
    }

    .programacion{
        bottom: 30.1%;
        font-size: 12px;
        left: 44.5%;
    }

    .programadores{
        bottom: 28%;
        font-size: 12px;
        left: 42.5%;
    }

    .testimonios{
        bottom: 25.6%;
        font-size: 12px;
        left: 45.25%;
    }

    .testores{
        bottom: 22.8%;
        font-size: 12px;
        left: 22.5%;
    }

    .agradecemos{
        bottom: 20.5%;
        left: 39.6%;
        font-size: 12px;
    }

    .agradecidos{
        bottom: 13%;
        font-size: 12px;
        width: 86vw;
        left: 8.3%;
    }

    footer{
        width: 88vw;
        height: 450px;
    }

    .metropolitano{
        height: 60px;
        width: 250px;
        left: 34.6%;
        top: -35%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 12px;
        left: 26%;
        top: -15%;
    }

    .enMemoria{
        top: 15%;
        font-size: 14px;
        left: 19.5%;
    }
}

@media (min-width: 405px) and (max-width: 420px){
    
    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 412.png);
        background-size: 100vw 1200px ;
    }

    header{
        width: 215px;
        font-size: 15px;
        padding: 7px;
        height: 20px;
        left: 22.8%;
        
    }
    
    

    main{
        width: 97vw;
        height: 800px;
    }

    .introduccion{
        top: 2%;
        width: 82vw;
        font-size: 8.4px;
        left: 8.84%;
    }

    .cristal1{
        top: 12%;
        left: 43.5%;
        width: 50px;
        height: 50px;
    }

    .reconocimientos{
        top: 19%;
        font-size: 9px;
        left: 29.8%;
    }

    .reconocidos{
        width: 89vw;
        top: 21%;
        font-size: 8.4px;
        left: -6.5%;
    }

    .cristal2{
        bottom: 48.5%;
        width: 50px;
        height: 50px;
        left: 43.5%;
    }

    .creditos{
        bottom: 43%;
        font-size: 9px ;
        left: 45.05%;
    }

    .idea{
        bottom: 41.4%;
        font-size: 8.4px;
        left: 37.8%;
    }

    .diseñadoras{
        bottom: 38.8%;
        font-size: 8.4px;
        left: 39.5%;
    }

    .musica{
        bottom: 36.2%;
        font-size: 8.4px;
        left: 46.23%;
    }

    .musicalista{
        bottom: 35%;
        font-size: 8.4px;
        left: 41.6%;
    }

    .sonido{
        bottom: 32.3%;
        font-size: 8.4px;
        left: 35.72%;
    }

    .sonidista{
        bottom: 30.9%;
        font-size: 8.4px;
        left: 40.28%;
    }

    .programacion{
        bottom: 28%;
        font-size: 8.4px;
        left: 42.92%;
    }

    .programadores{
        bottom: 24%;
        font-size: 8.4px;
        left: 40.6%;
    }

    .testimonios{
        bottom: 21%;
        font-size: 8.4px;
        left: 43.95%;
    }

    .testores{
        width: 70vw;
        bottom: 16%;
        font-size: 8.4px;
        left: 18.3%;
    }

    .agradecemos{
        bottom: 11%;
        left: 37.6%;
        font-size: 8.4px;
    }

    .agradecidos{
        bottom: 0%;
        font-size: 8.4px;
        width: 94vw;
        left: 1.6%;
    }

    footer{
        width: 88vw;
        height: 330px;
    }

    .metropolitano{
        height: 45px;
        width: 200px;
        left: 25.6%;
        top: 10%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 8.4px;
        left: 20.8%;
        top: 25%;
    }

    .enMemoria{
        width: 80vw;
        top: 46%;
        font-size: 8.5px;
        left: 11%;
    }
}

@media (min-width: 375px) and (max-width: 390px){
    
    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 385.png);
        background-size: 100vw 1180px ;
    }

    header{
        width: 215px;
        font-size: 15px;
        padding: 7px;
        height: 20px;
        left: 20.9%;
        
    }
    
    
    main{
        width: 97vw;
        height: 800px;
    }

    .introduccion{
        top: 2%;
        width: 88vw;
        font-size: 7.8px;
        left: 5.9%;
    }

    .cristal1{
        top: 12%;
        left: 43.4%;
        width: 45px;
        height: 45px;
    }

    .reconocimientos{
        top: 19%;
        font-size: 7.4px;
        left: 33.5%;
    }

    .reconocidos{
        width: 89vw;
        top: 21%;
        font-size: 7.4px;
        left: -7.3%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 45px;
        height: 45px;
        left: 43.4%;
    }

    .creditos{
        bottom: 43.8%;
        font-size: 7.8px ;
        left: 45.2%;
    }

    .idea{
        bottom: 41.9%;
        font-size: 7.4px;
        left: 37.6%;
    }

    .diseñadoras{
        bottom: 39.5%;
        font-size: 7.4px;
        left: 39.8%;
    }

    .musica{
        bottom: 36.8%;
        font-size: 7.4px;
        left: 46.23%;
    }

    .musicalista{
        bottom: 35.5%;
        font-size: 7.4px;
        left: 41.45%;
    }

    .sonido{
        bottom: 32%;
        font-size: 7.4px;
        left: 36%;
    }

    .sonidista{
        bottom: 30.9%;
        font-size: 7.4px;
        left: 40.28%;
    }

    .programacion{
        bottom: 27.5%;
        font-size: 7.4px;
        left: 43.17%;
    }

    .programadores{
        bottom: 24%;
        font-size: 7.4px;
        left: 40.6%;
    }

    .testimonios{
        bottom: 20.5%;
        font-size: 7.4px;
        left: 44.18%;
    }

    .testores{
        width: 70vw;
        bottom: 16%;
        font-size: 7.4px;
        left: 18.37%;
    }

    .agradecemos{
        bottom: 11%;
        left: 37.68%;
        font-size: 7.4px;
    }

    .agradecidos{
        bottom: 0%;
        font-size: 7.4px;
        width: 94vw;
        left: 2.8%;
    }

    footer{
        width: 88vw;
        height: 300px;
    }

    .metropolitano{
        height: 35px;
        width: 160px;
        left: 29.3%;
        top: 10%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 7.4px;
        left: 21.8%;
        top: 25%;
    }

    .enMemoria{
        width: 80vw;
        top: 46%;
        font-size: 7.8px;
        left: 15.2%;
    }
}

@media (min-width: 355px) and (max-width: 365px){
    
    body{
        background-image: url(./Imagenes/ElProyecto/el\ proyecto\ 360.png);
        background-size: 100vh 1180px ;
    }

    header{
        width: 215px;
        font-size: 15px;
        padding: 7px;
        height: 20px;
        left: 19.2%;
        
    }
    


    main{
        width: 97vw;
        height: 800px;
    }

    .introduccion{
        top: 2%;
        width: 88vw;
        font-size: 7.4px;
        left: 5.9%;
    }

    .cristal1{
        top: 10%;
        left: 43.6%;
        width: 40px;
        height: 40px;
    }

    .reconocimientos{
        top: 19%;
        font-size: 7px;
        left: 32.45%;
    }

    .reconocidos{
        width: 89vw;
        top: 21%;
        font-size: 7px;
        left: -8.25%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 40px;
        height: 40px;
        left: 43.6%;
    }

    .creditos{
        bottom: 43.8%;
        font-size: 7.4px ;
        left: 44.9%;
    }

    .idea{
        bottom: 41.7%;
        font-size: 7px;
        left: 36.7%;
    }

    .diseñadoras{
        bottom: 39.3%;
        font-size: 7px;
        left: 39.1%;
    }

    .musica{
        bottom: 36.42%;
        font-size: 7px;
        left: 45.6%;
    }

    .musicalista{
        bottom: 35.3%;
        font-size: 6.6px;
        left: 41%;
    }

    .sonido{
        bottom: 32%;
        font-size: 7px;
        left: 35.25%;
    }

    .sonidista{
        bottom: 30.9%;
        font-size: 6.6px;
        left: 39.9%;
    }

    .programacion{
        bottom: 27.5%;
        font-size: 7px;
        left: 42.4%;
    }

    .programadores{
        bottom: 24%;
        font-size: 6.6px;
        left: 40.5%;
    }

    .testimonios{
        bottom: 20.5%;
        font-size: 7px;
        left: 43.55%;
    }

    .testores{
        width: 65vw;
        bottom: 16%;
        font-size: 6.6px;
        left: 19.6%;
    }

    .agradecemos{
        bottom: 11%;
        left: 36.9%;
        font-size: 7px;
    }

    .agradecidos{
        bottom: 2%;
        font-size: 6.3px;
        width: 85vw;
        left: 6.4%;
    }

    footer{
        width: 88vw;
        height: 300px;
    }

    .metropolitano{
        height: 35px;
        width: 160px;
        left: 27.5%;
        top: 10%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 7px;
        left: 20.1%;
        top: 25%;
    }

    .enMemoria{
        width: 80vw;
        top: 46%;
        font-size: 7.4px;
        left: 15.4%;
    }
}

