@font-face {
    font-family: "Rubik-Italic";
    src: url(./Fuentes/Rubik-Italic.ttf);
}

@font-face {
    font-family: "Rubik-Regular";
    src: url(./Fuentes/Rubik-Regular.ttf);
}

@font-face {
    font-family: "Rubik-Medium";
    src: url(./Fuentes/Rubik-Medium.ttf);
}

/* BODY */
body {
    background-image: url(./Imagenes/Nosotras/fondo\ nosotras\ ajustado\ 1920.png);
    background-color: #403e4f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw 2002px;
    color: white;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10.5px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #403e4f;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* HEADER */

header {
    background-color: #3f3543;
    display: flex;
    position: sticky;
    z-index: 10000;
    width: 340px;
    height: 30px;
    top: 0%;
    left: 100%;
    gap: 4px;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    color: #a19Dad;
    font-family: "Rubik-Regular";
}

.aInicio {
    color: #a19Dad;
    text-decoration: none;
    height: 15px;
}

.aInicio:hover {
    color: white;
}

.aElProyecto {
    color: #a19Dad;
    text-decoration: none;
    height: 15px;
}

.aElProyecto:hover {
    color: white;
}

.nosotras {
    font-weight: 800;

}

/* MAIN */

main {
    display: flex;
    position: relative;
    width: 95vw;
    height: 2000px;
    font-family: "Rubik-Regular";
}

.principal {
    display: flex;
    position: absolute;
    width: 60vw;
    height: 500px;
    top: 1.5%;
    left: 26.1%;
    font-size: 28px;
    text-align: center;
}

.ellas {
    display: flex;
    position: absolute;
    width: 55vw;
    height: 1300px;
    top: 19%;
    left: 23.3%;
}


.cecilia {
    display: flex;
    position: absolute;
    width: 310px;
    height: 310px;
    top: 0%;
    left: 0%;
}

.h2cecilia {
    display: flex;
    position: absolute;
    top: 25%;
    left: 6.5%;
    font-size: 24px;
}

.pCecilia {
    display: flex;
    position: absolute;
    top: 32%;
    left: 0%;
    font-size: 22px;
    color: #a19Dad;
}


.ailen {
    display: flex;
    position: absolute;
    width: 310px;
    height: 310px;
    top: 0%;
    right: 0%;
}

.h2ailen {
    display: flex;
    position: absolute;
    top: 25%;
    right: 3.1%;
    font-size: 24px;
}

.pAilen {
    display: flex;
    position: absolute;
    top: 32%;
    right: -8%;
    font-size: 22px;
    color: #a19Dad;
}


.otros {
    display: flex;
    position: absolute;
    width: 20vw;
    bottom: 43%;
    left: 47.25%;
    font-weight: 550;
    font-size: 24px;
    color: #a19Dad;
}

.proyectos {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    left: 10.1%;
    height: 400px;
    bottom: 23%;

}

.proyectos img {
    display: flex;
    width: 220px;
    height: 300px;
    transition: transform .5s;
}

.proyectos img:hover {
    z-index: 1000;
    transform: scale(1.7);

}

.contacto {
    display: flex;
    position: absolute;
    width: 100px;
    bottom: 17%;
    left: 49.18%;
    font-size: 26px;
}

.contactoEmail {
    width: 100px;
    display: flex;
    position: absolute;
    bottom: 16%;
    left: 42.9%;
    font-size: 24px;
    color: #a19Dad;
}

.fb,
.ig {
    width: 40px;
    height: 40px;
}

.afb {
    display: flex;
    position: absolute;
    height: 15px;
    bottom: 14%;
    left: 49.55%;
}

.aig {
    display: flex;
    position: absolute;
    height: 15px;
    bottom: 14%;
    left: 52.75%;
}




/* FOOTER */

footer {
    display: flex;
    position: relative;
    height: 280px;
    width: 90vw;
    padding: 10px;
    bottom: 0%;

}

.metropolitano {
    display: flex;
    position: absolute;
    height: 115px;
    width: 500px;
    right: 31.2%;
    bottom: 50%;

}

.bitbang{
    display: flex;
    position: absolute;
    left: 24%;
    bottom: 20%;
    height: 290px;
    width: 300px;

}

.metropolitano {
    display: flex;
    position: absolute;
    height: 115px;
    width: 500px;
    right: 31.2%;
    bottom: 50%;

}

.diseñoResponde{
    display: flex;
    position: absolute;
    left: 70%;
    bottom: 39%;
    height: 180px;
    width: 220px;
}


@media (max-width: 1680px) {
    body {
        background-size: 100vw 2218px;
    }

    main {
        height: 1800px;
    }

    .principal {
        font-size: 26px;
        left: 24.3%;
    }

    .ellas {
        top: 18%;
        left: 23%;
    }

    .pCecilia {
        font-size: 20px;
    }

    .h2cecilia {
        left: 8%;
    }

    .pCecilia {
        top: 30%;
    }

    .pAilen {
        top: 30%;
        right: -6%;
        font-size: 20px;
    }


    .otros {
        left: 46.4%;
        font-size: 24px;
        bottom: 42%;
    }

    .proyectos {
        bottom: 19.9%;
    }

    .proyectos img {
        height: 295px;
        width: 200px;
    }

    .contacto {
        font-size: 24px;
        left: 48.8%;
        bottom: 15%;
    }

    .contactoEmail {
        font-size: 22px;
        bottom: 14%;
        left: 42.3%;
    }

    .afb {
        bottom: 12%;
        left: 49.4%;
    }

    .aig {
        bottom: 12%;
        left: 52.6%;
    }

    .bitbang{
        left: 22.5%;
        bottom: 0%;
        height: 270px;
        width: 280px;
    }
    
    .metropolitano {
        left: 39.5%;
        height: 105px;
        width: 450px;
        bottom: 28%;
    }
    
    .diseñoResponde{
        left: 70%;
        bottom: 20%;
        height: 165px;
        width: 205px;
    }
}

@media (max-width: 1600px) {
    body {
        background-size: 100vw 2218px;
    }

    main {
        height: 1800px;
    }

    .principal {
        font-size: 26px;
        left: 23%;
    }

    .ellas {
        top: 18%;
        left: 23%;
    }

    .pCecilia {
        font-size: 20px;
    }

    .h2cecilia {
        left: 8%;
    }

    .pCecilia {
        top: 30%;
    }

    .pAilen {
        top: 30%;
        right: -6%;
        font-size: 20px;
    }


    .otros {
        left: 46.25%;
        font-size: 24px;
        bottom: 42%;
    }

    .proyectos {
        bottom: 19.9%;
    }

    .proyectos img {
        height: 295px;
        width: 200px;
    }

    .contacto {
        font-size: 24px;
        left: 48.6%;
        bottom: 15%;
    }

    .contactoEmail {
        font-size: 22px;
        bottom: 14%;
        left: 41.9%;
    }

    .afb {
        bottom: 12%;
        left: 49.15%;
    }

    .aig {
        bottom: 12%;
        left: 52.35%;
    }

    .metropolitano {
        left: 38.8%;
        height: 105px;
        width: 450px;
    }

    .bitbang{
        left: 21%;
        bottom: 0%;
        height: 270px;
        width: 280px;
    }
    
    .metropolitano {
        left: 38.7%;
        height: 105px;
        width: 450px;
        bottom: 28%;
    }
    
    .diseñoResponde{
        left: 70.8%;
        bottom: 19.5%;
        height: 165px;
        width: 205px;
    }
}

@media (max-width: 1536px) {

    body {
        background-size: 100vw 2118px;
    }

    main {
        height: 1700px;
    }

    .principal {
        font-size: 26px;
        left: 21.7%;
    }

    .ellas {
        left: 23%;
    }

    .pCecilia {
        font-size: 20px;
    }

    .pAilen {
        right: -6%;
        font-size: 20px;
    }


    .otros {
        left: 45.8%;
        font-size: 24px;
        bottom: 41%;
    }

    .proyectos {
        bottom: 19%;
        left: 10.05%;
    }

    .proyectos img {
        width: 200px;
    }

    .contacto {
        font-size: 24px;
        left: 48.4%;
        bottom: 13%;
    }

    .contactoEmail {
        font-size: 22px;
        bottom: 12%;
        left: 41.4%;
    }

    .afb {
        bottom: 9%;
        left: 48.9%;
    }

    .aig {
        left: 52.5%;
        bottom: 9%;
    }

    footer {
        width: 90vw;
    }


    .bitbang{
        left: 20%;
        bottom: 0%;
        height: 255px;
        width: 270px;
    }
    
    .metropolitano {
        left: 38.1%;
        height: 105px;
        width: 450px;
        bottom: 26%;
    }
    
    .diseñoResponde{
        left: 71.5%;
        bottom: 19.2%;
        height: 150px;
        width: 190px;
    }
}

@media (max-width: 1440px) {


    main {
        height: 1500px;
    }

    .principal {
        font-size: 24px;
        left: 21.6%;
        top: 1%;
    }

    .ellas {
        left: 23%;
        top: 17%;
    }

    .cecilia {
        width: 250px;
        height: 250px;
    }

    .h2cecilia {
        left: 7.4%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia {
        font-size: 18px;
        top: 24%;
    }

    .ailen {
        width: 250px;
        height: 250px;
    }

    .h2ailen {
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen {
        font-size: 18px;
        top: 24%;
        right: -7%;
    }

    .otros {
        left: 46%;
        bottom: 42%;
        font-size: 22px;
    }

    .proyectos {
        bottom: 17%;
        left: 10.1%;
    }

    .proyectos img {
        width: 190px;
        height: 260px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        font-size: 22px;
        left: 48.5%;
        bottom: 12%;
    }

    .contactoEmail {
        font-size: 20px;
        left: 41.8%;
        bottom: 11%;
    }

    .fb,
    .ig {
        width: 35px;
        height: 35px;
    }

    .afb {

        left: 49.3%;

    }

    .aig {
        left: 52.3%;

    }


    .bitbang{
        left: 18%;
        bottom: 0%;
        height: 255px;
        width: 270px;
    }
    
    .metropolitano {
        left: 36.85%;
        height: 105px;
        width: 450px;
        bottom: 26%;
    }
    
    .diseñoResponde{
        left: 72.2%;
        bottom: 19%;
        height: 150px;
        width: 190px;
    }
}

@media (max-width: 1366px) {


    main {
        height: 1500px;
    }

    .principal {
        font-size: 20px;
        left: 24.85%;
        top: 2%;
    }

    .ellas {
        left: 23%;
        top: 18%;
    }

    .cecilia {
        width: 250px;
        height: 250px;
    }

    .h2cecilia {
        left: 7.4%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia {
        font-size: 18px;
        top: 25%;
    }

    .ailen {
        width: 250px;
        height: 250px;
    }

    .h2ailen {
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen {
        font-size: 18px;
        top: 25%;
        right: -7%;
    }

    .otros {
        left: 45.8%;
        bottom: 40%;
        font-size: 22px;
    }

    .proyectos {
        bottom: 16%;
        left: 10.1%;
    }

    .proyectos img {
        width: 180px;
        height: 250px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        bottom: 10%;
        font-size: 22px;
        left: 48.3%;
    }

    .contactoEmail {
        font-size: 20px;
        left: 41.1%;
        bottom: 8.8%;
    }

    .afb {

        left: 48.9%;
        bottom: 6%;
    }

    .aig {
        left: 52.2%;
        bottom: 6%;
    }



    .bitbang{
        left: 20.5%;
        bottom: 0%;
        height: 210px;
        width: 230px;
    }
    
    .metropolitano {
        height: 100px;
        width: 400px;
        left: 38%;
        bottom: 20%;
    }
    
    .diseñoResponde{
        left: 71.4%;
        bottom: 16.6%;
        height: 130px;
        width: 170px;
    }
}

@media (max-width: 1360px) {


    main {
        height: 1500px;
    }

    .principal {
        font-size: 20px;
        left: 24.85%;
        top: 2%;
    }

    .ellas {
        left: 23%;
        top: 18%;
    }

    .cecilia {
        width: 250px;
        height: 250px;
    }

    .h2cecilia {
        left: 7.4%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia {
        font-size: 18px;
        top: 25%;
    }

    .ailen {
        width: 250px;
        height: 250px;
    }

    .h2ailen {
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen {
        font-size: 18px;
        top: 25%;
        right: -7%;
    }

    .otros {
        left: 45.8%;
        bottom: 40%;
        font-size: 22px;
    }

    .proyectos {
        bottom: 16%;
        left: 10.1%;
    }

    .proyectos img {
        width: 180px;
        height: 250px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        bottom: 10%;
        font-size: 22px;
        left: 48.3%;
    }

    .contactoEmail {
        font-size: 20px;
        left: 41.1%;
        bottom: 8.8%;
    }

    .afb {

        left: 48.9%;
        bottom: 6%;
    }

    .aig {
        left: 52.2%;
        bottom: 6%;
    }



    .bitbang{
        left: 20.5%;
        bottom: 0%;
        height: 215px;
        width: 230px;
    }
    
    .metropolitano {
        height: 100px;
        width: 400px;
        left: 38%;
        bottom: 20%;
    }
    
    .diseñoResponde{
        left: 71.6%;
        bottom: 16.6%;
        height: 130px;
        width: 170px;
    }
}

@media (max-width: 1280px) {


    main {
        height: 1400px;
    }

    .principal {
        font-size: 20px;
        left: 23%;
        top: 2%;
    }

    .ellas {
        left: 22.95%;
        top: 17%;
    }

    .cecilia {
        width: 250px;
        height: 250px;
    }

    .h2cecilia {
        left: 7.8%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia {
        font-size: 18px;
        top: 25%;
    }

    .ailen {
        width: 250px;
        height: 250px;
    }

    .h2ailen {
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen {
        font-size: 18px;
        top: 25%;
        right: -7%;
    }

    .otros {
        left: 45.2%;
        bottom: 40%;
        font-size: 22px;
    }

    .proyectos {
        bottom: 14%;
        left: 9.2%;
    }

    .proyectos img {
        width: 180px;
        height: 250px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        font-size: 22px;
        left: 48%;
    }

    .contactoEmail {
        font-size: 20px;
        left: 40.4%;
    }

    .afb {

        left: 48.9%;
        bottom: 6%;
    }

    .aig {
        left: 52.3%;
        bottom: 6%;
    }


    .bitbang{
        left: 18.5%;
        bottom: 0%;
        height: 210px;
        width: 220px;
    }
    
    .metropolitano {
        height: 100px;
        width: 400px;
        left: 36.8%;
        bottom: 20%;
    }
    
    .diseñoResponde{
        left: 72.6%;
        bottom: 16.4%;
        height: 125px;
        width: 165px;
    }
}

@media (max-width: 1024px) {

    body {
        background-size: 100vw 1770px;
        width: 98vw;
    }

    header {
        width: 245px;
        font-size: 18px;
        padding: 8px;
        height: 25px;
    }

    main {
        width: 86vw;
        height: 1000px;
    }

    .principal {
        width: 70vw;
        font-size: 15px;
        left: 27.7%;
        top: 2%;
    }

    .ellas {
        left: 25.3%;
        top: 20%;
    }

    .cecilia {
        width: 170px;
        height: 170px;
    }

    .h2cecilia {
        left: 8.2%;
        font-size: 15px;
        top: 12.8%;
    }

    .pCecilia {
        font-size: 12px;
        top: 15%;
    }

    .ailen {
        width: 170px;
        height: 170px;
    }

    .h2ailen {
        font-size: 15px;
        top: 12.8%;
        right: 1%;
    }

    .pAilen {
        font-size: 12px;
        top: 15%;
        right: -10.5%;
    }

    .otros {
        left: 50.5%;
        bottom: 40%;
        font-size: 16px;
    }

    .proyectos {
        bottom: 9.5%;
        left: 10.3%;
    }

    .proyectos img {
        width: 100px;
        height: 150px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        bottom: 10%;
        font-size: 16px;
        left: 53.3%;
    }

    .contactoEmail {
        font-size: 14px;
        left: 46.9%;
        bottom: 9%;
    }

    .fb,
    .ig {
        width: 30px;
        height: 30px;
    }

    .afb {
        left: 53.5%;
        bottom: 6%;
    }

    .aig {
        left: 57.85%;
        bottom: 6%;
    }

    footer {
        height: 420px;
        width: 86vw;
    }


    .bitbang{
        left: 16%;
        bottom: 0%;
        height: 195px;
        width: 200px;
    }
    
    .metropolitano {
        height: 85px;
        width: 350px;
        left: 36.5%;
        bottom: 14%;
    }
    
    .diseñoResponde{
        left: 76.5%;
        bottom: 11%;
        height: 115px;
        width: 150px;
    }
}

@media (max-width: 800px) {

    body {
        background-size: 100vw 1770px;
        width: 98vw;
    }

    header {
        width: 245px;
        font-size: 18px;
        padding: 8px;
        height: 25px;
    }

    main {
        width: 86vw;
        height: 1000px;
    }

    .principal {
        width: 75vw;
        font-size: 15px;
        left: 19.2%;
        top: 2%;
    }

    .ellas {
        left: 25%;
        top: 20%;
    }

    .cecilia {
        width: 170px;
        height: 170px;
    }

    .h2cecilia {
        left: 8.2%;
        font-size: 15px;
        top: 12.8%;
    }

    .pCecilia {
        font-size: 12px;
        top: 15%;
    }

    .ailen {
        width: 170px;
        height: 170px;
    }

    .h2ailen {
        font-size: 15px;
        top: 12.8%;
        right: 1%;
    }

    .pAilen {
        font-size: 12px;
        top: 15%;
        right: -11.5%;
    }

    .otros {
        left: 48.45%;
        bottom: 40%;
        font-size: 16px;
    }

    .proyectos {
        bottom: 9.5%;
        left: 10.3%;
    }

    .proyectos img {
        width: 100px;
        height: 150px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        bottom: 10%;
        font-size: 16px;
        left: 52.05%;
    }

    .contactoEmail {
        font-size: 14px;
        left: 42.95%;
        bottom: 9%;
    }

    .fb,
    .ig {
        width: 30px;
        height: 30px;
    }

    .afb {
        left: 51.85%;
        bottom: 6%;
    }

    .aig {
        left: 57.85%;
        bottom: 6%;
    }

    footer {
        height: 420px;
        width: 86vw;
    }

    .metropolitano {
        height: 70px;
        width: 280px;
        left: 35.5%;
        bottom: 15%;
    }

    .bitbang{
        left: 16%;
        bottom: 0%;
        height: 150px;
        width: 150px;
    }
    
    .metropolitano {
        height: 70px;
        width: 280px;
        left: 35.5%;
        bottom: 10%;
    }
    
    .diseñoResponde{
        left: 76.3%;
        bottom: 7.4%;
        height: 95px;
        width: 125px;
    }
}

@media (max-width: 768px) {

    body {
        background-size: 100vw 2018px;
        width: 98vw;
    }

    header {

        width: 245px;
        font-size: 18px;
        padding: 7px;
        height: 20px;

    }

    main {
        width: 86vw;
        height: 1200px;
    }

    .principal {
        width: 75vw;
        font-size: 15px;
        left: 17.5%;
        top: 1%;
    }

    .ellas {
        left: 25%;
        top: 17%;
    }

    .cecilia {
        width: 150px;
        height: 150px;
    }

    .h2cecilia {
        left: 5.3%;
        font-size: 17px;
        top: 11.5%;
    }

    .pCecilia {
        font-size: 13px;
        top: 15%;
    }

    .ailen {
        width: 150px;
        height: 150px;
    }

    .h2ailen {
        font-size: 17px;
        top: 11.5%;
        right: -3%;
    }

    .pAilen {
        font-size: 13px;
        top: 15%;
        right: -17.5%;
    }

    .otros {
        left: 47.2%;
        bottom: 46%;
        font-size: 17px;
    }

    .proyectos {
        bottom: 20%;
        left: 10.4%;
    }

    .proyectos img {
        width: 100px;
        height: 150px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        bottom: 19%;
        font-size: 16px;
        left: 51.8%;
    }

    .contactoEmail {
        font-size: 14px;
        left: 43%;
        bottom: 18%;
    }

    .afb {

        left: 51.7%;
        bottom: 15%;
    }

    .aig {
        left: 57.7%;
        bottom: 15%;
    }

    footer {
        height: 220px;
        width: 86vw;
    }


    .bitbang{
        left: 18%;
        bottom: 0%;
        height: 145px;
        width: 135px;
    }
    
    .metropolitano {
        height: 60px;
        width: 250px;
        left: 36.9%;
        bottom: 18%;
    }
    
    .diseñoResponde{
        left: 75.3%;
        bottom: 12.5%;
        height: 85px;
        width: 115px;
    }
}

@media (max-width: 720px) {

    body {
        background-size: 100vw 2018px;
        width: 98vw;
    }

    header {
        width: 245px;
        font-size: 18px;
        padding: 7px;
        height: 20px;

    }

    main {
        width: 86vw;
        height: 1200px;
    }

    .principal {
        width: 75vw;
        font-size: 15px;
        left: 14.8%;
        top: 1%;
    }

    .ellas {
        left: 26.1%;
        top: 17%;
    }

    .cecilia {
        width: 150px;
        height: 150px;
        left: -5%;
    }

    .h2cecilia {
        left: 0.3%;
        font-size: 17px;
        top: 11.5%;
    }

    .pCecilia {
        font-size: 11px;
        top: 15%;
        left: -5%;
    }

    .ailen {
        width: 150px;
        height: 150px;
    }

    .h2ailen {
        font-size: 17px;
        top: 11.5%;
        right: -3%;
    }

    .pAilen {
        font-size: 11px;
        top: 15%;
        right: -12.5%;
    }

    .otros {
        left: 46.5%;
        bottom: 45%;
        font-size: 17px;
    }

    .proyectos {
        bottom: 19%;
        left: 10.4%;
    }

    .proyectos img {
        width: 100px;
        height: 150px;
    }

    .proyectos img:hover {

        transform: scale(1.6);

    }

    .contacto {
        bottom: 18%;
        font-size: 16px;
        left: 51.5%;
    }

    .contactoEmail {
        font-size: 14px;
        left: 42%;
        bottom: 17%;
    }

    .afb {

        left: 51.7%;
        bottom: 14%;
    }

    .aig {
        left: 57.7%;
        bottom: 14%;
    }

    footer {
        height: 220px;
        width: 86vw;
    }

    
    .bitbang{
        left: 16%;
        bottom: 0%;
        height: 145px;
        width: 135px;
    }
    
    .metropolitano {
        height: 60px;
        width: 250px;
        left: 35.45%;
        bottom: 18%;
    }
    
    .diseñoResponde{
        left: 76%;
        bottom: 13.8%;
        height: 85px;
        width: 115px;
    }
}

@media (min-width: 599px) and (max-width: 601px) {

    header {
        width: 86vw;
        gap: 1px;
        font-size: 20px;
    }

    .fb {
        width: 18px;
        height: 18px;
    }

    .afb {
        top: 2%;
    }

    .ig {
        width: 18px;
        height: 18px;
    }

    .aig {
        top: 2%;
    }

    .nosotras {
        font-weight: 600;
    }

    main {
        width: 88vw;
    }

    .cristal {
        width: 100px;
        height: 100px;
        left: 47.9%;
    }

    .principal {
        font-size: 18px;
        left: 11.8%;
    }

    .ellas {
        left: -1.6%;
    }

    .cecilia {
        width: 220px;
        height: 220px;
        left: 20%;
    }

    .h2cecilia {
        font-size: 24px;
        left: 25.2%;
        top: 18%;
    }

    .pCecilia {
        left: 20%;
        top: 24%;
        font-size: 16px;
    }

    .ailen {
        width: 220px;
        height: 220px;
        right: -6.3%;
    }

    .h2ailen {
        font-size: 24px;
        right: -8.2%;
        top: 18%;
    }

    .pAilen {
        font-size: 16px;
        right: -13.5%;
        top: 24%;
    }

    .otros {
        width: 30vw;
        left: 42.7%;
        font-size: 22px;
        bottom: 30%;
    }

    .proyectos {
        left: -3%;
        bottom: 13%;
    }

    .proyectos img {
        width: 120px;
        height: 180px;
    }

    .jauregui {
        left: 12%;
    }

    .jauregui:hover {
        z-index: 1000;
        transform: scale(1.4);
    }

    .unDiosQue {
        left: 30%;

    }

    .unDiosQue:hover {
        z-index: 100;
        transform: scale(1.4);
    }

    .aParaQueDios {
        right: 34.5%;
    }

    .paraQueDios:hover {
        z-index: 100;
        transform: scale(1.4);
    }

    .aBiologas {
        right: 15.8%;
    }

    .biologas:hover {
        z-index: 100;
        transform: scale(1.4);
    }

    .puebloArgentino {
        right: -2%;
    }

    .puebloArgentino:hover {
        z-index: 100;
        transform: scale(1.4);
    }

    footer {
        width: 88vw;
    }

    .metropolitano {
        width: 300px;
        height: 80px;
        left: 32%;
    }
}
@media only screen and (min-width: 421px) and (max-width: 444px) {

    body {
        background-image: url(./Imagenes/nosotras/nosotras\ 412x950.png);
        background-size: 100vw 950px;

    }

    header {
        width: 210px;
        font-size: 15px;
        padding: 6px;
        height: 20px;
        left: 24%;
    }


    main {
        height: 780px;
        width: 97vw;
    }

    .principal {
        width: 80vw;
        height: 200px;
        font-size: 8px;
        left: 16.6%;
        top: 3%;
    }

    .ellas {
        height: 300px;
        top: 14%;
        width: 70vw;
        left: 4.2%;
    }

    .cecilia {
        width: 100px;
        height: 100px;
        left: 15%;
    }

    .h2cecilia {
        font-size: 10px;
        left: 20.5%;
        top: 32%;
    }

    .pCecilia {
        left: 16%;
        top: 40%;
        font-size: 7px;
    }

    .ailen {
        width: 100px;
        height: 100px;
        right: -10.8%;
    }

    .h2ailen {
        font-size: 10px;
        right: -11.9%;
        top: 32%;
    }

    .pAilen {
        font-size: 7px;
        right: -20%;
        top: 40%;
    }

    .otros {
        width: 40vw;
        left: 41.4%;
        font-size: 9px;
        bottom: 55%;
    }

    .proyectos {
        width: 85%;
        height: 350px;
        left: 7.2%;
        bottom: 24%;
        justify-content: space-between;
    }

    .proyectos img {
        width: 65px;
        height: 100px;
    }

    .proyectos img:hover {
        transform: scale(1.4);

    }

    .unDiosQue {
        position: absolute;
        bottom: 0%;
        left: 20.5%;
    }

    .aBiologas {
        position: absolute;
        bottom: 0%;
        right: 21%;
    }

    .contacto {
        bottom: 15%;
        left: 43.15%;
        font-size: 12px;

    }

    .contactoEmail {
        bottom: 14.5%;
        left: 32.35%;
        font-size: 10px;
    }

    .fb,
    .ig {
        width: 20px;
        height: 20px;
    }

    .afb {
        bottom: 11%;
        left: 43.4%;
    }

    .aig {
        bottom: 11%;
        left: 51%;
    }

    footer {
        height: 100px;
        width: 88vw;
    }

    .bitbang{
        left: 11%;
        bottom: 0%;
        height: 85px;
        width: 75px;
    }
    
    .metropolitano {
        width: 180px;
        height: 45px;
        left: 29.35%;
        bottom: 18%;
    }
    
    .diseñoResponde{
        left: 76.5%;
        bottom: 16%;
        height: 50px;
        width: 60px;
    }
}
@media only screen and (min-width: 405px) and (max-width: 420px) {

    body {
        background-image: url(./Imagenes/nosotras/nosotras\ 412x950.png);
        background-size: 100vw 950px;

    }

    header {
        width: 210px;
        font-size: 15px;
        padding: 6px;
        height: 20px;
        left: 22.8%;


    }



    main {
        height: 780px;
        width: 97vw;
    }

    .principal {
        width: 80vw;
        height: 200px;
        font-size: 8px;
        left: 14.7%;
        top: 3%;
    }

    .ellas {
        height: 300px;
        top: 14%;
        width: 70vw;
        left: 4.2%;
    }

    .cecilia {
        width: 100px;
        height: 100px;
        left: 15%;
    }

    .h2cecilia {
        font-size: 10px;
        left: 20.5%;
        top: 32%;
    }

    .pCecilia {
        left: 16%;
        top: 40%;
        font-size: 7px;
    }

    .ailen {
        width: 100px;
        height: 100px;
        right: -10.8%;
    }

    .h2ailen {
        font-size: 10px;
        right: -11.9%;
        top: 32%;
    }

    .pAilen {
        font-size: 7px;
        right: -20%;
        top: 40%;
    }

    .otros {
        width: 40vw;
        left: 41%;
        font-size: 9px;
        bottom: 55%;
    }

    .proyectos {
        width: 85%;
        height: 350px;
        left: 7.2%;
        bottom: 24%;
        justify-content: space-between;
    }

    .proyectos img {
        width: 65px;
        height: 100px;
    }

    .proyectos img:hover {
        transform: scale(1.4);

    }

    .unDiosQue {
        position: absolute;
        bottom: 0%;
        left: 20.5%;
    }

    .aBiologas {
        position: absolute;
        bottom: 0%;
        right: 21%;
    }

    .contacto {
        bottom: 15%;
        left: 43%;
        font-size: 12px;

    }

    .contactoEmail {
        bottom: 14.5%;
        left: 31.5%;
        font-size: 10px;
    }

    .fb,
    .ig {
        width: 20px;
        height: 20px;
    }

    .afb {
        bottom: 11%;
        left: 43.4%;
    }

    .aig {
        bottom: 11%;
        left: 51%;
    }

    footer {
        height: 100px;
        width: 88vw;
    }

    .bitbang{
        left: 10%;
        bottom: 0%;
        height: 85px;
        width: 75px;
    }
    
    .metropolitano {
        width: 180px;
        height: 45px;
        left: 28.3%;
        bottom: 18%;
    }
    
    .diseñoResponde{
        left: 77%;
        bottom: 16%;
        height: 50px;
        width: 60px;
    }
}

@media (min-width: 375px) and (max-width: 390px) {

    body {
        background-image: url(./Imagenes/nosotras/nosotras\ 385x900.png);

        background-size: 100vw 900px;
    }

    header {
        width: 210px;
        font-size: 15px;
        padding: 7px;
        height: 20px;
        left: 20.9%;

    }



    main {
        height: 730px;
        width: 97vw;
    }

    .principal {
        width: 86vw;
        height: 200px;
        font-size: 8px;
        left: 12.3%;
        top: 2%;
    }

    .ellas {
        top: 15%;
        width: 75vw;
        left: 0.7%;
        height: 350px;
    }

    .cecilia {
        width: 100px;
        height: 100px;
        left: 15%;
    }

    .h2cecilia {
        font-size: 10px;
        left: 20.5%;
        top: 30%;
    }

    .pCecilia {
        left: 16%;
        top: 38%;
        font-size: 6.5px;
    }

    .ailen {
        width: 100px;
        height: 100px;
        right: -10.8%;
    }

    .h2ailen {
        font-size: 10px;
        right: -11.9%;
        top: 30%;
    }

    .pAilen {
        font-size: 6.5px;
        right: -20.5%;
        top: 38%;
    }

    .otros {
        width: 40vw;
        left: 38.75%;
        font-size: 10px;
        bottom: 50%;
    }

    .proyectos {
        width: 85%;
        left: 6.9%;
        bottom: 17%;
        height: 350px;
        justify-content: space-between;
    }

    .proyectos img {
        width: 60px;
        height: 95px;
    }


    .proyectos img:hover {
        transform: scale(1.4);

    }

    .unDiosQue {
        position: absolute;
        bottom: 0%;
        left: 20%;
    }

    .aBiologas {
        position: absolute;
        bottom: 0%;
        right: 20%;
    }

    .contacto {
        bottom: 10%;
        left: 42.2%;
        font-size: 12px;

    }

    .contactoEmail {
        bottom: 9%;
        left: 29.85%;
        font-size: 10px;
    }

    .fb,
    .ig {
        width: 21px;
        height: 21px;
    }

    .afb {
        bottom: 5%;
        left: 42.75%;
    }

    .aig {
        bottom: 5%;
        left: 50.75%;
    }

    footer {
        height: 100px;
        width: 88vw;
    }

    .bitbang{
        left: 7%;
        bottom: 0%;
        height: 85px;
        width: 75px;
    }
    
    .metropolitano {
        width: 180px;
        height: 45px;
        left: 26.5%;
        bottom: 17.5%;
    }
    
    .diseñoResponde{
        left: 78%;
        bottom: 15%;
        height: 50px;
        width: 60px;
    }
}

@media (min-width: 355px) and (max-width: 365px) {

    body {
        background-image: url(./Imagenes/Nosotras/nosotras\ 360x800.png);
        background-size: 100vw 800px;
    }

    header {
        width: 210px;
        font-size: 15px;
        padding: 7px;
        height: 20px;
        left: 19.2%;

    }



    main {
        height: 700px;
        width: 97vw;
    }

    .principal {
        width: 86vw;
        height: 200px;
        font-size: 8px;
        left: 9.8%;
        top: 2%;
    }

    .ellas {
        top: 15%;
        width: 75vw;
        left: 0.8%;
        height: 300px;
    }

    .cecilia {
        width: 100px;
        height: 100px;
        left: 15%;
    }

    .h2cecilia {
        font-size: 10px;
        left: 20.5%;
        top: 35%;
    }

    .pCecilia {
        left: 16%;
        top: 42%;
        font-size: 6.5px;
    }

    .ailen {
        width: 100px;
        height: 100px;
        right: -10.8%;
    }

    .h2ailen {
        font-size: 10px;
        right: -10.9%;
        top: 35%;
    }

    .pAilen {
        font-size: 6.5px;
        right: -15.5%;
        top: 42%;
    }

    .otros {
        width: 40vw;
        left: 37.9%;
        font-size: 10px;
        bottom: 51%;
    }

    .proyectos {
        height: 350px;
        width: 85%;
        left: 6.8%;
        bottom: 16%;
        justify-content: space-between;
    }

    .proyectos img {
        width: 60px;
        height: 100px;
    }


    .proyectos img:hover {
        transform: scale(1.4);

    }

    .unDiosQue{
        position: absolute;
        bottom: 0%;
        left: 20%;
    }

    .aBiologas{
        position: absolute;
        bottom: 0%;
        right: 20%;
    }

    .contacto {
        bottom: 7%;
        left: 41.9%;
        font-size: 12px;

    }

    .contactoEmail {
        bottom: 6%;
        left: 28.35%;
        font-size: 10px;
    }

    .fb,
    .ig {
        width: 21px;
        height: 21px;
    }

    .afb {
        bottom: 2%;
        left: 42.2%;
    }

    .aig {
        bottom: 2%;
        left: 50.2%;
    }

    footer {
        height: 100px;
        width: 88vw;
    }

    .metropolitano {
        width: 160px;
        height: 40px;
        left: 27.5%;
        bottom: 5%;
    }

    .bitbang{
        left: 5.6%;
        bottom: 0%;
        height: 85px;
        width: 75px;
    }
    
    .metropolitano {
        width: 160px;
        height: 40px;
        left: 27.5%;
        bottom: 19%;
    }
    
    .diseñoResponde{
        left: 77.5%;
        bottom: 17%;
        height: 50px;
        width: 60px;
    }
}