@font-face {
    font-family: "Rubik-Italic";
    src: url(./Fuentes/Rubik-Italic.ttf);
}
@font-face {
    font-family: "Rubik-Regular";
    src: url(./Fuentes/Rubik-Regular.ttf);
}
@font-face {
    font-family: "Rubik-Medium";
    src: url(./Fuentes/Rubik-Medium.ttf);
}


/*body*/
body{

    background-image: url(./Imagenes/Fondo\ main.png);
    background-color: #454960;
    background-repeat: no-repeat;
    background-size:100%;
    overflow: auto;
    width: 95%;
    color: white;


}

/*HEADER*/
header{

    
    position: absolute;
    left: 65%;
    display: flex;
    gap: 7px;
    justify-content: flex-end;
    padding: 40px;
    font-size: 35px;
    color: #a19Dad;
    font-family: "Rubik-Medium";
    


}

header:div{
    display: flex;
    
    
    

}
.fb{
    width: 28px;
    height: 28px;
}

.ig{
    
    width: 28px;
    height: 28px;
    
}

.aig{
    display: flex;
    position: absolute;
    left: 94%;
    top: 40%
}

.afb{
    display: flex;
    position: absolute;
    left: 100%;
    top: 40%;
    
}


/*MAIN*/
main{
    display: flex;
    position:absolute;
    text-align: center;
    justify-content: center;
    font-family: "Rubik-Regular";
    right: 25%;
    width: 46%;

    
    
    
    
}

.principal{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    bottom: -250%;
    gap: -10px;
    
    
    
    
}

.h1main{
    display: flex;
    position: absolute;
    font-size: 80px;
    bottom: -410%;
    font-family: "Rubik-Medium";
    font-weight: 1;

}

#dolor{
    display: flex;
    position: absolute;
    bottom: -400%;
    font-size:35px ;
    font-family: "Rubik-Regular";
}
.cristal{
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: -700%;

    
    

}

.secundaria{
    display: flex;
    position: absolute;
    font-size: 25px;
    bottom: -1000%;
    width: 100%;
    font-family: "Rubik-Italic";
}

#windows{
    display: flex;
    position: absolute;
    font-size: 35px;
    bottom: -1280%;
    justify-content: center;
}

.descargar{
    display: flex;
    position: absolute;
    bottom: -1400%;
    text-decoration: none;
    font-size: 60px;
    color:white;

}

#requerimientos{
    display: flex;
    position: absolute;
    bottom: -1500%;
    
    font-size: 35px;
}

.jesus{
    display: flex;
    position: relative;
    bottom: -1500%;
    
}
.requisitos{
    display: flex;
    position: absolute;
    bottom: -1600%;
    color: #a19Dad;
    
    

}

footer{
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    justify-content: center;
    bottom: -185%;
    left: 46%;
    padding: 30px;
    
    
    
    
    
}

div.lila{
    color:#a19Dad ;
}


