@font-face {
  font-family: "Rubik-Italic";
  src: url(./Fuentes/Rubik-Italic.ttf);
}

@font-face {
  font-family: "Rubik-Regular";
  src: url(./Fuentes/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Medium";
  src: url(./Fuentes/Rubik-Medium.ttf);
}

/* BODY */
body {
  background-image: url(./Imagenes/Inicio/fondo\ de\ inicio\ 1920.png);
  background-color: #454960;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 2471px;
  color: white;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10.5px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color:#373442;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* HEADER */
header {
  background-color: #3f3543;
    display: flex;
    position: sticky;
    z-index: 10000;
    width: 340px;
    height: 30px;
    top: 0%;
    left: 100%;
    gap: 4px;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    color: #a19Dad;
    font-family: "Rubik-Regular";
}



.inicio {
  font-family: "Rubik-Medium";
}

.aElProyecto {
  height: 15px;
  color: #a19dad;
  text-decoration: none;
}

.aElProyecto:hover {
  color: #ffffff;
}

.aNosotras {
  height: 15px;
  color: #a19dad;
  text-decoration: none;
}

.aNosotras:hover {
  color: #ffffff;
}

/* MAIN */
main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 96vw;
  height: 2160px;
  justify-content: center;
  font-family: "Rubik-Regular";
}

.fragmentos {
  display: flex;
  position: absolute;
  top: 5%;
  left: 40.5%;
  font-size: 70px;
  font-weight: 200;
  font-family: "Rubik-Medium";
}

.dolor {
  display: flex;
  position: absolute;
  top: 10.7%;
  left: 41.6%;
  font-size: 30px;
  color: #a19dad;
}

.cristal {
  display: flex;
  position: absolute;
  top: 27%;
  left: 48.4%;
  width: 120px;
  height: 120px;
}

.pFragmentos {
  display: flex;
  position: absolute;
  bottom: 60%;
  left: 33%;
  text-align: center;
  font-weight: 599;
  font-size: 30px;
}

.aDescargar {
  display: flex;
  position: absolute;
  bottom: 43%;
  left: 43.9%;
  font-size: 60px;
  text-decoration: none;
}

.descargar {
  height: 80px;
  width: 280px;
  border-radius: 50px;
  font-size: 50px;
  background-color: #a19dad;
  color: white;
  border: #ffffff;
}

.descargar:hover {
  color: #a19dad;
  background-color: #ffffff;
}

.requisitos {
  display: flex;
  position: absolute;
  bottom: 32%;
  left: 32.5%;
  text-align: center;
  font-size: 25px;
  color: #a19dad;
}

.contacto {
  display: flex;
  position: absolute;
  bottom: 26%;
  left: 48.3%;
  text-align: center;
  font-size: 28px;
  color: white;
}

.contactoEmail {
  display: flex;
  position: absolute;
  bottom: 25.7%;
  left: 42.4%;
  text-align: center;
  font-size: 24px;
  color: #a19dad;
}

.fb {
  width: 30px;
  height: 30px;
}

.ig {
  width: 30px;
  height: 30px;
}

.aig {
  display: flex;
  position: absolute;
  height: 15px;
  bottom: 23%;
  left: 51.9%;
}

.afb {
  display: flex;
  position: absolute;
  height: 15px;
  bottom: 23%;
  left: 49.7%;
}

/* FOOTER */
footer {
  display: flex;
  position: relative;
  height: 200px;
  width: 96vw;
  padding: 20px;
}

.metropolitano {
  display: flex;
  position: absolute;
  height: 120px;
  width: 500px;
  left: 37.1%;
  top: 30%;
}

@media (max-width: 1680px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
    background-size: 100% 2467px;
  }

  .fragmentos {
    left: 38.8%;
  }

  .dolor {
    left: 40%;
  }

  .cristal {
    left: 47.85%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 31.8%;
  }

  .aDescargar {
    left: 42.9%;
  }

  .requisitos {
    font-size: 22px;
    left: 32.08%;
  }

  .contacto {
    font-size: 25px;
    left: 48.1%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 42.4%;
  }

  .afb{
    left:49.45%;
  }

  .aig{
    left: 51.65%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 38.9%;
  }
}

@media (max-width: 1680px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
    background-size: 100% 2350px;
  }

  main{
    height: 2040px;
  }

  .fragmentos {
    left: 38.1%;
  }

  .dolor {
    left: 39.6%;
  }

  .cristal {
    left: 47.7%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 30.65%;
  }

  .aDescargar {
    left: 42.2%;
  }

  .requisitos {
    font-size: 22px;
    left: 30.9%;
  }

  .contacto {
    font-size: 25px;
    left: 47.85%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 42.1%;
  }

  .afb{
    left:49.35%;
  }

  .aig{
    left: 51.55%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 38.2%;
  }
}

@media (max-width: 1536px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1536.png);
    background-size: 100% 2256px ;  
  }

  main{
    height: 1950px;
  }

  .fragmentos {
    top: 7%;
    left: 37.75%;
  }

  .dolor {
    top: 13.2% ;
    left: 39.4%;
  }

  .cristal {
    left: 47.4%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 30.1%;
  }

  .aDescargar {
    left: 42%;
  }

  .requisitos {
    font-size: 22px;
    left: 30.4%;
  }

  .contacto {
    font-size: 25px;
    left: 47.8%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 41.6%;
  }

  .afb{
    
    left: 49.1%;
  }

  .aig{
    left: 52%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 37.55%;
  }
}

@media (max-width: 1440px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1440.png);
    background-size: 100% 2115px;
  }

  main{
    height: 1810px;
  }


  .fragmentos {
    left: 36.7%;
  }

  .dolor {
    left: 38.75%;
  }

  .cristal {
    left: 47%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 28.5%;
  }

  .aDescargar {
    left: 41.5%;
  }

  .requisitos {
    font-size: 22px;
    left: 28.8%;
  }

  .contacto {
    font-size: 24px;
    left: 47.6%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 41%;
  }

  .afb{
    left: 49.1%;
  }

  .aig{
    left: 51.7%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 36.45%;
  }
}

@media (max-width: 1366px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
    background-size: 100% 1997px;
  }


  

  main{
    height: 1700px;
  }

  .fragmentos {
    top: 5%;
    font-size: 60px;
    left: 37.9%;
  }

  .dolor {
    top: 11.2%;
    font-size: 26px;
    left: 39%;
  }

  .cristal {
    top: 24%;
    left: 46.8%;
  }

  .pFragmentos {
    font-size: 23px;
    left: 30.15%;
    top: 30%;
  }

  .aDescargar {
    left: 43.1%;
    bottom: 45%;
  }

  .descargar {
    height: 65px;
    width: 220px;
    font-size: 40px;
  }

  .requisitos {
    font-size: 20px;
    left: 29.25%;
    bottom: 35%;
  }

  .contacto {
    bottom: 26.5%;
    font-size: 22px;
    left: 47.7%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 19px;
    left: 41.35%;
  }

  .afb{
    left: 49%;
  }

  .aig{
    left: 51.6%;
  }

  footer {
    height: 100px;
    width: 90vw;
  }

  .metropolitano {
    height: 100px;
    width: 400px;
    left: 37.45%;
    top: 10%;
  }
}

@media (max-width: 1360px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
    background-size: 100% 1997px;
  }


  

  main{
    height: 1700px;
  }

  .fragmentos {
    top: 5%;
    font-size: 60px;
    left: 37.9%;
  }

  .dolor {
    top: 11.2%;
    font-size: 26px;
    left: 39%;
  }

  .cristal {
    top: 24%;
    left: 46.8%;
  }

  .pFragmentos {
    font-size: 23px;
    left: 30.15%;
    top: 30%;
  }

  .aDescargar {
    left: 43.1%;
    bottom: 45%;
  }

  .descargar {
    height: 65px;
    width: 220px;
    font-size: 40px;
  }

  .requisitos {
    font-size: 20px;
    left: 29.25%;
    bottom: 35%;
  }

  .contacto {
    bottom: 26.5%;
    font-size: 22px;
    left: 47.7%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 19px;
    left: 41.35%;
  }

  .afb{
    left: 49%;
  }

  .aig{
    left: 51.6%;
  }

  footer {
    height: 100px;
    width: 90vw;
  }

  .metropolitano {
    height: 100px;
    width: 400px;
    left: 37.45%;
    top: 10%;
  }
}

@media (max-width: 1280px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1280.png);
    background-size: 100% 1880px;
  }

  main{
    height: 1650px;
  }

  .fragmentos {
    top: 6%;
    font-size: 60px;
    left: 36.85%;
  }

  .dolor {
    top: 12.4%;
    font-size: 26px;
    left: 38.3%;
  }

  .cristal {
    top: 20%;
    left: 46.6%;
  }

  .pFragmentos {
    font-size: 23px;
    left: 28.7%;
    top: 30%;
  }

  .aDescargar {
    left: 41.2%;
  }

  .descargar {
    height: 75px;
    width: 250px;
    font-size: 45px;
  }

  .requisitos {
    font-size: 20px;
    left: 27.75%;
    bottom: 35%;
  }

  .contacto {
    font-size: 22px;
    left: 47.5%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 19px;
    left: 40.7%;
  }

  .afb{
    left: 48.7%;
  }

  .aig{
    left: 51.7%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 34.1%;
  }
}

@media (max-width: 800px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
    background-size: 100vw 1175px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

  header {
    
    width: 245px;
    font-size: 18px;
    padding: 8px;
    height: 25px;
    
  }


  main {
    height: 950px;
  }

  .fragmentos {
    top: 0%;
    font-size: 40px;
    left: 35.6%;
  }

  .dolor {
    top: 7.6%;
    font-size: 17px;
    left: 37.2%;
  }

  .cristal {
    top: 22.5%;
    left: 45.55%;
    height: 80px;
    width: 80px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 24.2%;
    top: 30%;
  }

  .aDescargar {
    left: 40.55%;
  }

  .descargar {
    height: 50px;
    width: 160px;
    font-size: 30px;
  }

  .requisitos {
    font-size: 15px;
    left: 23.55%;
    bottom: 30%;
  }

  .contacto {
    font-size: 16px;
    left: 46.4%;
    bottom: 22.5%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 15px;
    left: 37.5%;
  }

  .fb, .ig{
    height: 20px;
    width: 20px;
  }

  .afb{
    left: 48.45%;
    bottom: 19%;
  }

  .aig{
    left: 51.45%;
    bottom: 19%;
  }

  footer {
    width: 90vw;
    height: 100px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 33.2%;
    top: 40%;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
    background-size: 100vw 1175px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

    header {
    
      width: 245px;
      font-size: 18px;
      padding: 7px;
      height: 20px;
      
    }
  

  main {
    height: 950px;
  }

  .fragmentos {
    top: 3%;
    font-size: 40px;
    left: 34.8%;
  }

  .dolor {
    top: 10.5%;
    font-size: 17px;
    left: 36.8%;
  }

  .cristal {
    top: 23%;
    left: 45.9%;
    height: 75px;
    width: 75px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 23.1%;
    top: 30%;
  }

  .aDescargar {
    left: 40.1%;
  }

  .descargar {
    height: 50px;
    width: 160px;
    font-size: 30px;
  }

  .requisitos {
    font-size: 15px;
    left: 22.35%;
    bottom: 33%;
  }

  .contacto {
    bottom: 22.4%;
    font-size: 16px;
    left: 46.35%;
  }

  .contactoEmail {
    bottom: 21.8%;
    font-size: 15px;
    left: 36.8%;
  }

  .fb, .ig{
    height: 20px;
    width: 20px;
  }

  .afb{
    left: 48.05%;
    bottom: 19%;
  }

  .aig{
    left: 51.30%;
    bottom: 19%;
  }

  footer {
    width: 85vw;
    height: 100px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 34%;
  }
}

@media (max-width: 720px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
    background-size: 100vw 1175px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

  header{
    width: 245px;
    font-size: 18px;
    padding: 7px;
    height: 20px;
    
}



  main {
    height: 950px;
  }

  .fragmentos {
    top: 3%;
    font-size: 40px;
    left: 33.8%;
  }

  .dolor {
    top: 10.5%;
    font-size: 17px;
    left: 35.7%;
  }

  .cristal {
    top: 23.5%;
    left: 45.9%;
    height: 70px;
    width: 70px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 21%;
    top: 30%;
  }

  .aDescargar {
    left: 39.3%;
  }

  .descargar {
    height: 50px;
    width: 160px;
    font-size: 30px;
  }

  .requisitos {
    font-size: 15px;
    left: 20.3%;
    bottom: 33%;
  }

  .contacto {
    bottom: 22.4%;
    font-size: 16px;
    left: 45.85%;
  }

  .contactoEmail {
    bottom: 21.8%;
    font-size: 15px;
    left: 35.7%;
  }

  .fb, .ig{
    height: 20px;
    width: 20px;
  }

  .afb{
    left: 47.8%;
    bottom: 19%;
  }

  .aig{
    left: 51.05%;
    bottom: 19%;
  }

  footer {
    width: 85vw;
    height: 100px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 32.5%;
  }
}

@media (min-width: 599px) and (max-width: 601px) {
  header {
    width: 80vw;
    font-size: 12px;
    gap: 1px;
  }

  .inicio {
    font-weight: 590;
    font-family: "Rubik-Medium";
  }

  .fb {
    width: 10px;
    height: 10px;
  }

  .ig {
    width: 10px;
    height: 10px;
  }

  .aig {
    display: flex;
    position: relative;
    height: 15px;
    top: 2%;
  }

  .afb {
    display: flex;
    position: relative;
    height: 15px;
    top: 2%;
  }

  main {
    width: 80vw;
  }

  .fragmentos {
    top: 0%;
    left: 31%;
    font-size: 38px;
  }

  .dolor {
    left: 32%;
    font-size: 18px;
    top: 3.3%;
  }

  .cristal {
    top: 20%;
    left: 50%;
    height: 80px;
    width: 80px;
  }

  .pFragmentos {
    font-size: 11px;
    left: 25%;
  }

  .descargar {
    height: 40px;
    width: 130px;
    font-size: 25px;
  }

  .aDescargar {
    left: 43%;
    bottom: 34%;
  }

  .requisitos {
    left: 22%;
    font-size: 10px;
  }

  .metropolitano {
    height: 70px;
    width: 300px;
    left: 20%;
  }

  footer {
    width: 80vw;
  }
}

@media (min-width: 405px) and (max-width: 420px){
  body {
    background-image: url(./Imagenes/Inicio/fondo\ de\ inicio\ celu\ 412.png);
    background-size: 100vw 1000px;
  }

  header{
    width: 210px;
    font-size: 15px;
    padding: 7px;
    height: 20px;
    left: 22.6%;
    
}

  

  main {
    width: 93vw;
    height: 810px;
  }

  .fragmentos {
    top: 4%;
    font-size: 30px;
    left: 28.5%;
  }

  .dolor {
    top: 10.5%;
    font-size: 12px;
    left: 32%;
  }

  .cristal {
    top: 23%;
    left: 42.8%;
    height: 60px;
    width: 60px;
  }

  .pFragmentos {
    font-size: 12px;
    left: 13.7%;
    top: 30%;
  }

  .aDescargar {
    left: 36.2%;
    bottom: 41%;
  }

  .descargar {
    height: 32px;
    width: 110px;
    font-size: 18px;
  }

  .requisitos {
    width: 74vw;
    font-size: 9px;
    left: 15.4%;
    bottom: 32%;
  }

  .contacto {
    font-size: 12px;
    left: 44.7%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 10px;
    left: 32.6%;
  }

  .fb, .ig{
    height: 18px;
    width: 18px;
  }

  .afb{
    left: 46.4%;
    bottom: 18%;
  }

  .aig{
    left: 52.4%;
    bottom: 18%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 50px;
    width: 200px;
    left: 26.3%;
  }
}

@media (max-width: 375px) and (max-width: 390px){
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 481.png);
    background-size: 100vw 1300px;
  }

  header {
    width: 92vw;
    height: 100px;
    font-size: 19px;
    padding: 0px;
    gap: 3px;
  }

  .fb {
    width: 17px;
    height: 17px;
  }

  .ig {
    width: 17px;
    height: 17px;
  }

  .aig {
    top: 3.5%;
  }

  .afb {
    top: 3.5%;
  }

  main {
    width: 93vw;
    height: 900px;
  }

  .fragmentos {
    top: 0%;
    font-size: 30px;
    left: 24.5%;
  }

  .dolor {
    top: 6%;
    font-size: 12px;
    left: 27.5%;
  }

  .cristal {
    top: 20%;
    left: 40.8%;
    height: 70px;
    width: 70px;
  }

  .pFragmentos {
    font-size: 12px;
    left: 8%;
    top: 30%;
  }

  .aDescargar {
    left: 34.5%;
  }

  .descargar {
    height: 35px;
    width: 110px;
    font-size: 20px;
  }

  .requisitos {
    width: 74vw;
    font-size: 8.4px;
    left: 18%;
    bottom: 32%;
  }

  .contacto {
    font-size: 12px;
    left: 43.5%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 10px;
    left: 30%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 50px;
    width: 200px;
    left: 22%;
  }
}

@media (min-width: 355px) and (max-width: 365px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 481.png);
    background-size: 100vw 1300px;
  }

  header {
    width: 92vw;
    height: 100px;
    font-size: 19px;
    padding: 0px;
    gap: 3px;
  }

  .fb {
    width: 17px;
    height: 17px;
  }

  .ig {
    width: 17px;
    height: 17px;
  }

  .aig {
    top: 3.5%;
  }

  .afb {
    top: 3.5%;
  }

  main {
    width: 93vw;
    height: 900px;
  }

  .fragmentos {
    top: 0%;
    font-size: 30px;
    left: 24.5%;
  }

  .dolor {
    top: 6%;
    font-size: 12px;
    left: 27.5%;
  }

  .cristal {
    top: 20%;
    left: 40.8%;
    height: 70px;
    width: 70px;
  }

  .pFragmentos {
    font-size: 12px;
    left: 8%;
    top: 30%;
  }

  .aDescargar {
    left: 34.5%;
  }

  .descargar {
    height: 35px;
    width: 110px;
    font-size: 20px;
  }

  .requisitos {
    width: 74vw;
    font-size: 8.4px;
    left: 18%;
    bottom: 32%;
  }

  .contacto {
    font-size: 12px;
    left: 43.5%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 10px;
    left: 30%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 50px;
    width: 200px;
    left: 22%;
  }
}
