@font-face {
    font-family: "Rubik-Italic";
    src: url(./Fuentes/Rubik-Italic.ttf);
}
@font-face {
    font-family: "Rubik-Regular";
    src: url(./Fuentes/Rubik-Regular.ttf);
}
@font-face {
    font-family: "Rubik-Medium";
    src: url(./Fuentes/Rubik-Medium.ttf);
}

/* BODY */
body{
    background-image: url(./Imagenes/el\ proyecto\ fondo.png);
    background-color: #373442;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw 4734px;
    color: white;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10.5px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color:#373442;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* HEADER */

header{
    display: flex;
    position: sticky;
    z-index: 10000;
    width: 93vw;
    height: 200px;
    top: 0%;
    gap: 4px;
    justify-content: flex-end;
    padding: 40px;
    font-size: 25px;
    color: #a19Dad;
    font-family: "Rubik-Regular";

}


.fb{
    width: 22px;
    height: 22px;
}

.ig{
    
    width: 22px;
    height: 22px;
    
}

.aig{
    height: 15px;
    display: flex;
    position: relative;
    top: 3%;
    
    
}

.afb{
    height: 15px;
    display: flex;
    position: relative;
    top: 3%;

}

.aInicio{
    height: 15px;
    color: #a19Dad;
    text-decoration: none;
}

.aInicio:hover{
    color:white;
}

.proyecto{
    
    font-family: "Rubik-Medium" ;
}

.aNosotras{
    height: 15px;
    color: #a19Dad;
    text-decoration: none;
}

.aNosotras:hover{
    color: white;
}

/* MAIN */
main{
    display: flex;
    position: relative;
    width: 98vw;
    height: 3650px;
    font-family: "Rubik-Regular";
}


.introduccion{
    display: flex;
    position: absolute;
    width: 75vw;
    top: 2%;
    left: 16%;
    font-size: 32px;
    text-align: center;
}

.cristal1{
    display: flex;
    position: absolute;
    width: 160px;
    height: 160px;
    top: 14%;
    left: 46.6%;
    
}

.reconocimientos{
    display: flex;
    position: absolute;
    width: 40vw;
    top: 22%;
    left: 38%;
    font-size: 30px;
}

.reconocidos{
    display: flex;
    position: absolute;
    width: 92vw;
    top: 24%;
    left: 1.5%;
    font-size: 28px;
    text-align: center;
    flex-direction: column;
    color: #a19Dad;
}

.cristal2{
    display: flex;
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 51%;
    left: 46.6%;
    
}

.creditos{
    display: flex;
    position: absolute;
    width: 20vw;
    bottom: 44%;
    left: 45.8%;
    font-size: 45px;
}

.idea{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 43%;
    left: 41.69%;
    font-size: 28px;
    font-weight: 550;
    color: #a19Dad;
}

.diseñadoras{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 41%;
    left: 43.3%;
    font-size: 28px;
    text-align: center;
}

.musica{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 39.5%;
    left: 48.25%;
    font-size: 28px;
    font-weight: 550;
    color: #a19Dad;
}

.musicalista{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 38.5%;
    left: 44.9%;
    font-size: 28px;
}

.sonido{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 37%;
    left: 40.3%;
    font-size: 28px;
    color: #a19Dad;
    font-weight: 550;
}

.sonidista{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 36%;
    left: 43.8%;
    font-size: 28px;
}

.programacion{
    display: flex;
    position: absolute;
    width: 20vw;
    bottom: 34.6%;
    left: 45.7%;
    font-size: 28px;
    color: #a19Dad;
    font-weight: 550;

}

.programadores{
    display: flex;
    position: absolute;
    width: 25vw;
    bottom: 31.7%;
    left: 43.8%;
    font-size: 28px;
    text-align: center;
}


.testimonios{
    display: flex;
    position: absolute;
    width: 25vw;
    bottom: 30.2%;
    left: 46.3%;
    font-size: 29px;
    font-weight: 550;
    color: #a19Dad;
}

.testores{
    display: flex;
    position: absolute;
    width: 60vw;
    bottom: 26.5%;
    left: 27.4%;
    font-size: 28px;
    text-align: center;
}

.agradecemos{
    display: flex;
    position: absolute;
    width: 30vw;
    bottom: 25.5%;
    left: 41.7%;
    font-size: 28px;
    color: #a19Dad;

}

.agradecidos{
    display: flex;
    position: absolute;
    width: 76vw;
    left: 15.3%;
    bottom: 18%;
    font-size: 28px;
    font-weight: 550;
    text-align: center;
    
}




/* FOOTER */
footer{
    display: flex;
    position: relative;
    height: 734px;
    width: 96vw;
    bottom: 0%;
    padding: 10px; 
    font-family: "Rubik-Regular";
}

.metropolitano{
    display: flex;
    position: absolute;
    height: 120px;
    width: 500px;
    top: -60%;
    left: 37.5%;

}

.apoyoDelPrograma{
    display: flex;
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 100px;
    top: -35%;
    left: 31.4%;
    color: #a19Dad;
    font-size: 25px;
    font-weight:550;
}

.enMemoria{
    display: flex;
    position: absolute;
    width: 70vw;
    height: 100px;
    top: 0%;
    left: 22.2%;
    font-size: 33px;
}



@media (max-width: 1680px){

    header{
        width: 92vw;
        gap: 3px;
    }

    .introduccion{
        width: 86vw;
        font-size: 32px;
        left: 9%;
    }

    .cristal1{
        left: 45.4%;
    }

    .reconocimientos{
        left: 35.3%;
    }

    .reconocidos{
        font-size: 26px;
        left: 0.9%;
    }

    .cristal2{
        left: 45.4%;
    }

    .creditos{
        left: 44.8%;
    }

    .idea{
        left: 39.9%;
    }

    .diseñadoras{
        left: 41.6%;
    }

    .musica{
        left: 47.5%;
    }

    .musicalista{
        left: 43.2%;
    }

    .sonido{
        left: 38.4%;
    }

    .sonidista{
        left: 42.64%;
    }

    .programacion{
        left: 44.7%;
    }

    .programadores{
        left: 42.7%;
    }

    .testimonios{
        left: 45.3%;
    }

    .testores{
        left: 22.9%;
    }

    .agradecemos{
        left: 39.8%;
    }

    .agradecidos{
        width: 83vw;
        left: 8.25%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 35.5%;
    }

    .apoyoDelPrograma{
        left: 27.25%;
    }

    .enMemoria{
        font-size: 31px;
        left: 19.5%;
    }
}

@media (max-width: 1600px){

    header{
        width: 92vw;
        font-size: 26px;
        gap: 3px;
    }

    .fb {
        width: 24px;
        height: 24px;
    }
    
    .ig {
        width: 24px;
        height: 24px;
    }

    .introduccion{
        width: 86vw;
        font-size: 32px;
        left: 9%;
    }

    .cristal1{
        left: 45.4%;
    }

    .reconocimientos{
        left: 35.3%;
    }

    .reconocidos{
        font-size: 26px;
        left: 0.9%;
    }

    .cristal2{
        left: 45.4%;
    }

    .creditos{
        left: 44.8%;
    }

    .idea{
        left: 39.9%;
    }

    .diseñadoras{
        left: 41.6%;
    }

    .musica{
        left: 47.5%;
    }

    .musicalista{
        left: 43.2%;
    }

    .sonido{
        left: 38.4%;
    }

    .sonidista{
        left: 42.64%;
    }

    .programacion{
        left: 44.7%;
    }

    .programadores{
        left: 42.7%;
    }

    .testimonios{
        left: 45.3%;
    }

    .testores{
        left: 22.9%;
    }

    .agradecemos{
        left: 39.8%;
    }

    .agradecidos{
        width: 83vw;
        left: 8.25%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 35.5%;
    }

    .apoyoDelPrograma{
        left: 27.25%;
    }

    .enMemoria{
        font-size: 31px;
        left: 19.5%;
    }
}

@media (max-width: 1536px){

    header{
        font-size: 24px;
        width: 92vw;
    }

    .fb {
        width: 23px;
        height: 23px;
        }
    
    .ig{
        width: 23px;
        height: 23px;
        }

    .afb{
            top: 1.8%;
        }
        
    .aig{
            top: 1.8%;
        }

    .introduccion{
        width: 86vw;
        font-size: 30px;
        left: 11%;
    }

    .cristal1{
        left: 45.4%;
    }

    .reconocimientos{
        left: 34.6%;
    }

    .reconocidos{
        font-size: 26px;
        left: 0.8%;
    }

    .cristal2{
        left: 45.4%;
    }

    .creditos{
        left: 44.65%;
    }

    .idea{
        font-size: 26px;
        left: 40.4%;
    }

    .diseñadoras{
        font-size: 26px;
        left: 42.1%;
    }

    .musica{
        font-size: 26px;
        left: 47.95%;
    }

    .musicalista{
        font-size: 26px;
        left: 43.7%;
    }

    .sonido{
        font-size: 26px;
        left: 38.8%;
    }

    .sonidista{
        font-size: 26px;
        left: 42.7%;
    }

    .programacion{
        font-size: 26px;
        left: 44.8%;
    }

    .programadores{
        font-size: 26px;
        left: 43.1%;
    }

    .testimonios{
        font-size: 26px;
        left: 45.6%;
    }

    .testores{
        font-size: 26px;
        left: 23.6%;
    }

    .agradecemos{
        left: 40.2%;
        font-size: 26px;
    }

    .agradecidos{
        font-size: 26px;
        width: 86vw;
        left: 9.6%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 34.7%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 26px;
        left: 25.5%;
    }

    .enMemoria{
        font-size: 30px;
        left: 19%;
    }
}

@media (max-width: 1440px){

    header{
        font-size: 22px;
        width: 92vw;
        gap: 3px;
    }

    .fb{
        width: 22px;
        height: 22px;
    }
    
    .ig{
        width: 22px;
        height: 22px;
    }
    
    .afb{
        top: 1.5%;
    }
    
    .aig{
        top: 1.5%;
    }

    .introduccion{
        width: 86vw;
        font-size: 30px;
        left: 8.5%;
    }

    .cristal1{
        left: 45%;
    }

    .reconocimientos{
        left: 33.6%;
    }

    .reconocidos{
        font-size: 26px;
        left: 0.7%;
    }

    .cristal2{
        left: 45%;
    }

    .creditos{
        left: 44.25%;
    }

    .idea{
        font-size: 26px;
        left: 39.8%;
    }

    .diseñadoras{
        font-size: 26px;
        left: 41.5%;
    }

    .musica{
        font-size: 26px;
        left: 47.35%;
    }

    .musicalista{
        font-size: 26px;
        left: 43.1%;
    }

    .sonido{
        font-size: 26px;
        left: 38.2%;
    }

    .sonidista{
        font-size: 26px;
        left: 42.20%;
    }

    .programacion{
        font-size: 26px;
        left: 44.5%;
    }

    .programadores{
        font-size: 26px;
        left: 42.5%;
    }

    .testimonios{
        font-size: 26px;
        left: 45.3%;
    }

    .testores{
        font-size: 26px;
        left: 21.7%;
    }

    .agradecemos{
        left: 39.6%;
        font-size: 26px;
    }

    .agradecidos{
        font-size: 26px;
        width: 86vw;
        left: 7.25%;
    }

    .metropolitano{
        height: 110px;
        width: 475px;
        left: 33.9%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 26px;
        left: 24.1%;
    }

    .enMemoria{
        font-size: 30px;
        left: 17%;
    }
}

@media (max-width: 1366px){

    body{
        background-size: 100vw 3734px;
    }

    header{
        width: 92vw;
        font-size: 20px;
        gap: 3px;
    }

    .fb{
        width: 21px;
        height: 21px;
    }

    .ig{
        width: 21px;
        height: 21px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        height: 3000px;
    }

    .introduccion{
        top: -2%;
        width: 86vw;
        font-size: 28px;
        left: 8.5%;
    }

    .cristal1{
        top: 12%;
        left: 44.8%;
        width: 140px;
    height: 140px;
    }

    .reconocimientos{
        top: 19%;
        font-size: 24px;
        left: 35.7%;
    }

    .reconocidos{
        top: 20.5%;
        font-size: 24px;
        left: 0.6%;
    }

    .cristal2{
        bottom: 53%;
        width: 140px;
        height: 140px;
        left: 44.8%;
    }

    .creditos{
        bottom: 47%;
        font-size: 35px ;
        left: 45.4%;
    }

    .idea{
        bottom: 46%;
        font-size: 24px;
        left: 39.8%;
    }

    .diseñadoras{
        bottom: 44%;
        font-size: 24px;
        left: 41.4%;
    }

    .musica{
        bottom: 42.8%;
        font-size: 24px;
        left: 47.60%;
    }

    .musicalista{
        bottom: 42%;
        font-size: 24px;
        left: 43.1%;
    }

    .sonido{
        bottom: 40.8%;
        font-size: 24px;
        left: 38.2%;
    }

    .sonidista{
        bottom: 39.8%;
        font-size: 24px;
        left: 42.20%;
    }

    .programacion{
        bottom: 38.7%;
        font-size: 24px;
        left: 44.5%;
    }

    .programadores{
        bottom: 35.8%;
        font-size: 24px;
        left: 42.5%;
    }

    .testimonios{
        bottom: 34.7%;
        font-size: 24px;
        left: 45.3%;
    }

    .testores{
        bottom: 30.8%;
        font-size: 24px;
        left: 21.9%;
    }

    .agradecemos{
        bottom: 30.5%;
        left: 39.6%;
        font-size: 24px;
    }

    .agradecidos{
        bottom: 22.9%;
        font-size: 24px;
        width: 86vw;
        left: 7.25%;
    }

    footer{
        height: 400px;
    }

    .metropolitano{
        height: 90px;
        width: 380px;
        left: 36.4%;
        top: -130%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 24px;
        left: 23.9%;
        top: -100%;
    }

    .enMemoria{
        top: -40%;
        font-size: 26px;
        left: 19%;
    }
}

@media (max-width: 1360px){

    body{
        background-size: 100vw 3734px;
    }

    header{
        width: 92vw;
        gap: 3px;
    }

    main{
        height: 3000px;
    }

    .introduccion{
        top: -2%;
        width: 86vw;
        font-size: 28px;
        left: 8.5%;
    }

    .cristal1{
        top: 12%;
        left: 44.8%;
        width: 140px;
    height: 140px;
    }

    .reconocimientos{
        top: 19%;
        font-size: 24px;
        left: 35.7%;
    }

    .reconocidos{
        top: 20.5%;
        font-size: 24px;
        left: 0.6%;
    }

    .cristal2{
        bottom: 53%;
        width: 140px;
        height: 140px;
        left: 44.8%;
    }

    .creditos{
        bottom: 47%;
        font-size: 35px ;
        left: 45.4%;
    }

    .idea{
        bottom: 46%;
        font-size: 24px;
        left: 39.8%;
    }

    .diseñadoras{
        bottom: 44%;
        font-size: 24px;
        left: 41.4%;
    }

    .musica{
        bottom: 42.8%;
        font-size: 24px;
        left: 47.60%;
    }

    .musicalista{
        bottom: 42%;
        font-size: 24px;
        left: 43.1%;
    }

    .sonido{
        bottom: 40.8%;
        font-size: 24px;
        left: 38.2%;
    }

    .sonidista{
        bottom: 39.8%;
        font-size: 24px;
        left: 42.20%;
    }

    .programacion{
        bottom: 38.7%;
        font-size: 24px;
        left: 44.5%;
    }

    .programadores{
        bottom: 35.8%;
        font-size: 24px;
        left: 42.5%;
    }

    .testimonios{
        bottom: 34.7%;
        font-size: 24px;
        left: 45.3%;
    }

    .testores{
        bottom: 30.8%;
        font-size: 24px;
        left: 21.9%;
    }

    .agradecemos{
        bottom: 30.5%;
        left: 39.6%;
        font-size: 24px;
    }

    .agradecidos{
        bottom: 22.9%;
        font-size: 24px;
        width: 86vw;
        left: 7.25%;
    }

    footer{
        height: 400px;
    }

    .metropolitano{
        height: 90px;
        width: 380px;
        left: 36.4%;
        top: -130%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 24px;
        left: 23.9%;
        top: -100%;
    }

    .enMemoria{
        top: -40%;
        font-size: 26px;
        left: 19%;
    }
}

@media (max-width: 1280px){

    body{
        background-size: 100vw 3734px;
    }

    header{
        width: 90vw;
        gap: 3px;
        font-size: 21px;
    }

    .fb{
        width: 19px;
        height: 19px;
    }

    .ig{
        width: 19px;
        height: 19px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        height: 3000px;
    }

    .introduccion{
        top: -2%;
        width: 86vw;
        font-size: 26px;
        left: 8.5%;
    }

    .cristal1{
        top: 12%;
        left: 44.8%;
        width: 140px;
    height: 140px;
    }

    .reconocimientos{
        top: 19%;
        font-size: 22px;
        left: 36%;
    }

    .reconocidos{
        top: 20.5%;
        font-size: 22px;
        left: 0.4%;
    }

    .cristal2{
        bottom: 53%;
        width: 140px;
        height: 140px;
        left: 44.8%;
    }

    .creditos{
        bottom: 47%;
        font-size: 30px ;
        left: 45.7%;
    }

    .idea{
        bottom: 46%;
        font-size: 22px;
        left: 39.8%;
    }

    .diseñadoras{
        bottom: 44%;
        font-size: 22px;
        left: 41.4%;
    }

    .musica{
        bottom: 42.8%;
        font-size: 22px;
        left: 47.60%;
    }

    .musicalista{
        bottom: 42%;
        font-size: 22px;
        left: 43.1%;
    }

    .sonido{
        bottom: 40.8%;
        font-size: 22px;
        left: 38.2%;
    }

    .sonidista{
        bottom: 39.8%;
        font-size: 22px;
        left: 42.20%;
    }

    .programacion{
        bottom: 38.7%;
        font-size: 22px;
        left: 44.5%;
    }

    .programadores{
        bottom: 35.8%;
        font-size: 22px;
        left: 42.5%;
    }

    .testimonios{
        bottom: 34.7%;
        font-size: 22px;
        left: 45.3%;
    }

    .testores{
        bottom: 30.8%;
        font-size: 22px;
        left: 22.3%;
    }

    .agradecemos{
        bottom: 30.5%;
        left: 39.6%;
        font-size: 22px;
    }

    .agradecidos{
        bottom: 22.9%;
        font-size: 22px;
        width: 86vw;
        left: 8.15%;
    }

    footer{
        height: 400px;
    }

    .metropolitano{
        height: 90px;
        width: 380px;
        left: 35.6%;
        top: -130%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 22px;
        left: 24.3%;
        top: -100%;
    }

    .enMemoria{
        top: -40%;
        font-size: 24px;
        left: 19%;
    }
}

@media (max-width: 800px){

    body{
        background-size: 100vw 2850px;
    }

    header{
        width: 92vw;
        padding: 15px;
        gap: 2px;
        font-size: 18px;
    }

    .fb{
        width: 17px;
        height: 17px;
    }

    .ig{
        width: 17px;
        height: 17px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        width: 97vw;
        height: 2100px;
    }

    .introduccion{
        top: -2%;
        width: 88vw;
        font-size: 15px;
        left: 10.4%;
    }

    .cristal1{
        top: 12%;
        left: 44.8%;
        width: 90px;
        height: 90px;
    }

    .reconocimientos{
        top: 23.5%;
        font-size: 13px;
        left: 36.5%;
    }

    .reconocidos{
        width: 95vw;
        top: 25%;
        font-size: 13px;
        left: -3.4%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 90px;
        height: 90px;
        left: 44.8%;
    }

    .creditos{
        bottom: 39.5%;
        font-size: 15px ;
        left: 46.68%;
    }

    .idea{
        bottom: 38%;
        font-size: 13px;
        left: 40.4%;
    }

    .diseñadoras{
        bottom: 36.5%;
        font-size: 13px;
        left: 42%;
    }

    .musica{
        bottom: 35%;
        font-size: 13px;
        left: 47.8%;
    }

    .musicalista{
        bottom: 34.3%;
        font-size: 13px;
        left: 43.75%;
    }

    .sonido{
        bottom: 32.8%;
        font-size: 13px;
        left: 38.75%;
    }

    .sonidista{
        bottom: 32%;
        font-size: 13px;
        left: 42.3%;
    }

    .programacion{
        bottom: 30.5%;
        font-size: 13px;
        left: 44.9%;
    }

    .programadores{
        bottom: 28%;
        font-size: 13px;
        left: 42.8%;
    }

    .testimonios{
        bottom: 26%;
        font-size: 13px;
        left: 45.7%;
    }

    .testores{
        bottom: 22.8%;
        font-size: 13px;
        left: 23.6%;
    }

    .agradecemos{
        bottom: 20.5%;
        left: 40%;
        font-size: 13px;
    }

    .agradecidos{
        bottom: 13%;
        font-size: 13px;
        width: 86vw;
        left: 9.9%;
    }

    footer{
        width: 88vw;
        height: 450px;
    }

    .metropolitano{
        height: 65px;
        width: 250px;
        left: 36.9%;
        top: -35%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 13px;
        left: 26.8%;
        top: -15%;
    }

    .enMemoria{
        top: 15%;
        font-size: 15px;
        left: 20.1%;
    }
}

@media (max-width: 768px){

    body{
        background-size: 100vw 2850px;
    }

    header{
        width: 92vw;
        padding: 15px;
        gap: 2px;
        font-size: 18px;
    }

    .fb{
        width: 16px;
        height: 16px;
    }

    .ig{
        width: 16px;
        height: 16px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        width: 97vw;
        height: 2100px;
    }

    .introduccion{
        top: -2%;
        width: 88vw;
        font-size: 15px;
        left: 8.9%;
    }

    .cristal1{
        top: 12%;
        left: 44.5%;
        width: 90px;
        height: 90px;
    }

    .reconocimientos{
        top: 23.5%;
        font-size: 13px;
        left: 35.6%;
    }

    .reconocidos{
        width: 95vw;
        top: 25%;
        font-size: 13px;
        left: -3.95%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 90px;
        height: 90px;
        left: 44.5%;
    }

    .creditos{
        bottom: 39.3%;
        font-size: 15px ;
        left: 46.68%;
    }

    .idea{
        bottom: 38%;
        font-size: 13px;
        left: 39.7%;
    }

    .diseñadoras{
        bottom: 36.5%;
        font-size: 13px;
        left: 41.5%;
    }

    .musica{
        bottom: 35%;
        font-size: 13px;
        left: 47.5%;
    }

    .musicalista{
        bottom: 34.3%;
        font-size: 13px;
        left: 43.5%;
    }

    .sonido{
        bottom: 32.8%;
        font-size: 13px;
        left: 38.1%;
    }

    .sonidista{
        bottom: 32%;
        font-size: 13px;
        left: 42.1%;
    }

    .programacion{
        bottom: 30.5%;
        font-size: 13px;
        left: 44.6%;
    }

    .programadores{
        bottom: 28%;
        font-size: 13px;
        left: 42.5%;
    }

    .testimonios{
        bottom: 26%;
        font-size: 13px;
        left: 45.5%;
    }

    .testores{
        bottom: 22.8%;
        font-size: 13px;
        left: 22.25%;
    }

    .agradecemos{
        bottom: 20.5%;
        left: 39.55%;
        font-size: 13px;
    }

    .agradecidos{
        bottom: 13%;
        font-size: 13px;
        width: 86vw;
        left: 8%;
    }

    footer{
        width: 88vw;
        height: 450px;
    }

    .metropolitano{
        height: 65px;
        width: 250px;
        left: 36%;
        top: -35%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 13px;
        left: 25.8%;
        top: -15%;
    }

    .enMemoria{
        top: 15%;
        font-size: 15px;
        left: 18.85%;
    }
}

@media (max-width: 720px){

    body{
        background-size: 100vw 2850px;
    }

    header{
        width: 92vw;
        padding: 10px;
        gap: 1px;
        font-size: 15px;
    }

    .fb{
        width: 14px;
        height: 14px;
    }

    .ig{
        width: 14px;
        height: 14px;
    }

    .afb{
        top: 1.5%;
    }

    .aig{
        top: 1.5%;
    }

    main{
        width: 97vw;
        height: 2100px;
    }

    .introduccion{
        top: -2%;
        width: 88vw;
        font-size: 14px;
        left: 10.6%;
    }

    .cristal1{
        top: 12%;
        left: 44.7%;
        width: 80px;
        height: 80px;
    }

    .reconocimientos{
        top: 23.5%;
        font-size: 12px;
        left: 35.95%;
    }

    .reconocidos{
        width: 95vw;
        top: 25%;
        font-size: 12px;
        left: -4.15%;
    }

    .cristal2{
        bottom: 49.5%;
        width: 80px;
        height: 80px;
        left: 44.7%;
    }

    .creditos{
        bottom: 39.3%;
        font-size: 14px ;
        left: 46.68%;
    }

    .idea{
        bottom: 38%;
        font-size: 12px;
        left: 39.7%;
    }

    .diseñadoras{
        bottom: 36.5%;
        font-size: 12px;
        left: 41.7%;
    }

    .musica{
        bottom: 35%;
        font-size: 12px;
        left: 47.55%;
    }

    .musicalista{
        bottom: 34.3%;
        font-size: 12px;
        left: 43.35%;
    }

    .sonido{
        bottom: 32.8%;
        font-size: 12px;
        left: 38.2%;
    }

    .sonidista{
        bottom: 32%;
        font-size: 12px;
        left: 42.25%;
    }

    .programacion{
        bottom: 30.5%;
        font-size: 12px;
        left: 44.5%;
    }

    .programadores{
        bottom: 28%;
        font-size: 12px;
        left: 42.5%;
    }

    .testimonios{
        bottom: 26%;
        font-size: 12px;
        left: 45.25%;
    }

    .testores{
        bottom: 22.8%;
        font-size: 12px;
        left: 22.5%;
    }

    .agradecemos{
        bottom: 20.5%;
        left: 39.6%;
        font-size: 12px;
    }

    .agradecidos{
        bottom: 13%;
        font-size: 12px;
        width: 86vw;
        left: 8.3%;
    }

    footer{
        width: 88vw;
        height: 450px;
    }

    .metropolitano{
        height: 60px;
        width: 250px;
        left: 34.6%;
        top: -35%;
    }

    .apoyoDelPrograma{
        width: 60vw;
        font-size: 12px;
        left: 26%;
        top: -15%;
    }

    .enMemoria{
        top: 15%;
        font-size: 14px;
        left: 19.5%;
    }
}

@media (min-width: 481px) and (max-width: 505px){

    header{
        width: 90vw;
        gap: 1px;
        font-size: 14px;
        padding: 20px;
    }

    .fb{
        width: 13px;
        height: 13px;
    }

    .afb{
        top: 1.5%;
    }

    .ig{
        width: 13px;
        height: 13px;
    }
    
    .aig{
        top: 1.5%;
    }

    main{
        width: 97vw;
    }

    .cristal{
        width: 90px;
        height: 90px;
        left: 47.9%;
    } 

    .principal{
        font-size: 18px;
        left: 11.7%;
    }

    .ellas{
        left: -1.6%;
    }

    .cecilia{
        width: 150px;
        height: 150px;
        left: 15%;
    }

    .h2cecilia{
        font-size: 16px;
        left: 21.2%;
        top: 11.5%;
    }

    .pCecilia{
        left: 16%;
        top: 15%;
        font-size: 10px;
    }

    .ailen{
        width: 150px;
        height: 150px;
        right: -10.8%;
    }
    .h2ailen{
        font-size: 16px;
        right: -11.9%;
        top: 11.5%;
    }

    .pAilen{
        font-size: 10px;
        right: -18.9%;
        top: 15%;
    }

    .otros{
        width: 40vw;
        left: 33.8%;
        font-size: 20px;
        bottom: 34%;
    }

    .proyectos{
        left: -3%;
        bottom: 20%;
    }

    .proyectos img{
        width: 80px;
        height: 120px;
    }

    .jauregui{
        left: 8%;
    }

    .jauregui:hover{
        z-index: 1000;
        transform: scale(1.4);
    }

    .unDiosQue{
        left: 27.6%;
        
    }

    .unDiosQue:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aParaQueDios{

        right: 33.8%;
    }

    

    .paraQueDios:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aBiologas{
        right: 13.7%;
    }

    .biologas:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .puebloArgentino{
        right: -5.7%;
    }
    .puebloArgentino:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    footer{
        width: 88vw;
    }

    .metropolitano{
        width: 200px;
        height: 60px;
        left: 29.6%;
        bottom: 5%;
    }
}

@media (min-width: 320px) and (max-width: 420px){

    header{
        width: 90vw;
        gap: 1px;
        font-size: 10px;
        padding: 10px;
    }

    .fb{
        width: 9px;
        height: 9px;
    }

    .afb{
        top: 1.2%;
    }

    .ig{
        width: 9px;
        height: 9px;
    }
    
    .aig{
        top: 1.2%;
    }

    main{
        width: 97vw;
    }

    .cristal{
        width: 80px;
        height: 80px;
        left: 38%;
    } 

    .principal{
        font-size: 13px;
        left: 10%;
    }

    .ellas{
        left: -1.6%;
    }

    .cecilia{
        width: 110px;
        height: 110px;
        left: 12%;
    }

    .h2cecilia{
        font-size: 12px;
        left: 18%;
        top: 8.5%;
    }

    .pCecilia{
        left: 13%;
        top: 11%;
        font-size: 7px;
    }

    .ailen{
        width: 110px;
        height: 110px;
        right: -13.8%;
    }
    .h2ailen{
        font-size: 12px;
        right: -16%;
        top: 8.5%;
    }

    .pAilen{
        font-size: 7px;
        right: -20.7%;
        top: 11%;
    }

    .otros{
        width: 45vw;
        left: 33.8%;
        font-size: 16px;
        bottom: 38%;
    }

    .proyectos{
        left: -3%;
        bottom: 24%;
    }

    .proyectos img{
        width: 70px;
        height: 100px;
    }

    .jauregui{
        left: 10%;
    }

    .jauregui:hover{
        z-index: 1000;
        transform: scale(1.4);
    }

    .unDiosQue{
        left: 25.5%;
        bottom: 1%;
        
    }

    .unDiosQue:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aParaQueDios{
        right: 31.8% ;
    }

    .paraQueDios:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aBiologas{
        
        right: 13.7%;
        bottom: 1%;
    }

    .biologas:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .puebloArgentino{
        right: -2%;
    }
    .puebloArgentino:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    footer{
        width: 88vw;
    }

    .metropolitano{
        width: 180px;
        height: 50px;
        left: 20.4%;
        bottom: 8%;
    }
}