@font-face {
    font-family: "Rubik-Italic";
    src: url(./Fuentes/Rubik-Italic.ttf);
}
@font-face {
    font-family: "Rubik-Regular";
    src: url(./Fuentes/Rubik-Regular.ttf);
}
@font-face {
    font-family: "Rubik-Medium";
    src: url(./Fuentes/Rubik-Medium.ttf);
}

/* BODY */
body{
    background-image: url(./Imagenes/nosotras\ fondo.png);
    background-color: #454960;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100vw 2818px;
    color: white;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10.5px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color:#403e4f;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* HEADER */

header{
    display:flex;
    position:sticky;
    z-index: 1000;
    width: 93vw;
    height: 200px;
    top: 0%;
    gap: 4px;
    justify-content: flex-end;
    padding: 40px;
    font-size: 25px;
    color: #a19Dad;
    font-family: "Rubik-Regular";
}


.fb{
    width: 22px;
    height: 22px;
}

.ig{
    
    width: 22px;
    height: 22px;
    
}

.aig{
    display: flex;
    position: relative;
    height: 15px;
    top: 3%;
    
    
}

.afb{
    display: flex;
    position: relative;
    height: 15px;
    top: 3%;

}

.aInicio{
    color: #a19Dad;
    text-decoration: none;
    height: 15px;
}

.aInicio:hover{
    color: white;
}

.aElProyecto{
    color: #a19Dad;
    text-decoration: none;
    height: 15px;
}

.aElProyecto:hover{
    color: white;
}

.nosotras{
    font-weight: 800;
    
}

/* MAIN */

main{
    display: flex;
    position: relative;
    width: 95vw;
    height: 2200px;
    font-family: "Rubik-Regular";
}

.principal{
    display: flex;
    position: absolute;
    width:60vw;
    height: 500px;
    top: 0%;
    left: 25.6%;
    font-size: 28px;
    text-align: center;
}

.ellas{
    display: flex;
    position: absolute;
    width: 55vw;
    height: 1300px;
    top: 15%;
    left: 22.6%;
}


.cecilia{
    display: flex;
    position: absolute;
    width: 310px;
    height: 310px;
    top: 0%;
    left: 0%;
}

.h2cecilia{
    display: flex;
    position: absolute;
    top: 25%;
    left: 6.5%;
    font-size: 28px;
}

.pCecilia{
    display: flex;
    position: absolute;
    top: 32%;
    left: 0%;
    font-size: 22px;
    color: #a19Dad;
}


.ailen{
    display: flex;
    position: absolute;
    width: 310px;
    height: 310px;
    top: 0%;
    right: 0%;
}

.h2ailen{
    display: flex;
    position: absolute;
    top: 25%;
    right: 1%;
    font-size: 28px;
}

.pAilen{
    display: flex;
    position: absolute;
    top: 32%;
    right: -8%;
    font-size: 22px;
    color: #a19Dad;
}


.otros{
    display: flex;
    position: absolute;
    width: 20vw;
    bottom: 36%;
    left: 46%;
    font-weight: 550;
    font-size: 28px;
    color: #a19Dad;
}

.proyectos{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    left: 9.5%;
    height: 400px;
    bottom: 18%;
    
}

.proyectos img{
    display: flex;
    width: 220px;
    height: 300px;
    transition: transform .5s;
}
.proyectos img:hover{
    z-index: 1000;
    transform: scale(1.7);
    
}

.contacto{
    display: flex;
    position: absolute;
    width: 100px;
    bottom: 3%;
    left: 48.5%;
    font-size: 26px;
}

.contactoEmail{
    width: 100px;
    display: flex;
    position: absolute;
    bottom: 2.4%;
    left: 43.2%;
    font-size: 22px;
    color:#a19Dad;
}


/* FOOTER */

footer{
    display: flex;
    position: relative;
    height: 280px;
    width: 90vw;
    padding: 10px;
    bottom: 0%;
    
}

.metropolitano{
    display: flex;
    position: absolute;
    height: 110px;
    width: 500px;
    right: 32%;
    bottom: 0%;
    
}


@media (max-width: 1680px){

    
    .principal{
        font-size: 26px;
        left: 23.8%;
    }

    .pCecilia{
        font-size: 20px;
    }

    .pAilen{
        right: -6%;
        font-size: 20px;
    }


    .otros{
        left: 45.58%;
        font-size: 25px;
        bottom: 38%;
    }

    .proyectos{
        bottom: 20%;
    }

    .proyectos img{
        width: 200px;
    }

    .contacto{
        font-size: 25px;
        left: 48.15%;
    }

    .contactoEmail{
        font-size: 20px;
        bottom: 2.8%;
        left: 42.7%;
    }

    .metropolitano{
        left: 39.8%;
        height: 100px;
        width: 420px;
    }
}

@media (max-width: 1600px){

    
    .principal{
        font-size: 26px;
        left: 22.4%;
    }

    .ellas{
        top: 14%;
        left: 22.4%;
    }

    .pCecilia{
        font-size: 20px;
    }

    .pAilen{
        right: -6%;
        font-size: 20px;
    }


    .otros{
        left: 45.48%;
        font-size: 25px;
        bottom: 38%;
    }

    .proyectos{
        bottom: 20%;
    }

    .proyectos img{
        width: 200px;
    }

    .contacto{
        font-size: 25px;
        left: 48.%;
    }

    .contactoEmail{
        font-size: 20px;
        bottom: 2.8%;
        left: 42.3%;
    }

    .metropolitano{
        left: 39.2%;
        height: 100px;
        width: 420px;
    }
}

@media (max-width: 1536px){

    body{
        width: 99vw;
    }

    header{
        width: 92vw;
    }

    main{
        width: 95vw;
    }
    
    .principal{
        font-size: 26px;
        left: 21.9%;
    }

    .ellas{
        left: 22.8%;
    }

    .pCecilia{
        font-size: 20px;
    }

    .pAilen{
        right: -6%;
        font-size: 20px;
    }


    .otros{
        left: 45.6%;
        font-size: 25px;
        bottom: 38%;
    }

    .proyectos{
        bottom: 20%;
        left: 9.80%;
    }

    .proyectos img{
        width: 200px;
    }

    .contacto{
        font-size: 25px;
        left: 48.2%;
    }

    .contactoEmail{
        font-size: 20px;
        bottom: 2.8%;
        left: 42.55%;
    }

    footer{
        width: 90vw;
    }

    .metropolitano{
        left: 39.48%;
        height: 100px;
        width: 420px;
    }
}

@media (max-width: 1440px){

    header{
        width: 92vw;
        gap: 3px;
        font-size: 20px;
    }

    .fb{
        width: 20px;
        height: 20px;
    }

    .ig{
        width: 20px;
        height: 20px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        height: 1500px;
    }

    .principal{
        font-size: 20px;
        left: 26.45%;
        top: 0%;
    }

    .ellas{
        left: 22.8%;
        top: 17%;
    }

    .cecilia{
        width: 250px;
        height: 250px;
    }

    .h2cecilia{
        left: 7.4%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia{
        font-size: 18px;
        top: 25%;
    }

    .ailen{
        width: 250px;
        height: 250px;
    }

    .h2ailen{
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen{
        font-size: 18px;
        top: 25%;
        right: -7%;
    }

    .otros{
        left: 46%;
        bottom: 35%;
        font-size: 22px;
    }

    .proyectos{
        bottom: 10%;
        left: 9.75%;
    }

    .proyectos img{
        width: 180px;
        height: 250px;
    }

    .proyectos img:hover{
        
        transform: scale(1.6);
        
    }

    .contacto{
        font-size: 22px;
        left: 48.4%;
        bottom: 3%;
    }

    .contactoEmail{
        font-size: 19px;
        left: 42.38%;
        bottom: 2.5%;
    }

    .metropolitano{
        height: 85px;
        width: 360px;
        left: 40.5%;
    }
}

@media (max-width: 1366px){

    header{
        width: 92vw;
        gap: 3px;
        font-size: 20px;
    }

    .fb{
        width: 20px;
        height: 20px;
    }

    .ig{
        width: 20px;
        height: 20px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        height: 1500px;
    }

    .principal{
        font-size: 20px;
        left: 24%;
        top: -7%;
    }

    .ellas{
        left: 22.3%;
        top: 7%;
    }

    .cecilia{
        width: 250px;
        height: 250px;
    }

    .h2cecilia{
        left: 7.4%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia{
        font-size: 18px;
        top: 25%;
    }

    .ailen{
        width: 250px;
        height: 250px;
    }

    .h2ailen{
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen{
        font-size: 18px;
        top: 25%;
        right: -7%;
    }

    .otros{
        left: 45.1%;
        bottom: 43%;
        font-size: 22px;
    }

    .proyectos{
        bottom: 18%;
        left: 9.2%;
    }

    .proyectos img{
        width: 180px;
        height: 250px;
    }

    .proyectos img:hover{
        
        transform: scale(1.6);
        
    }

    .contacto{
        font-size: 22px;
        left: 47.7%;
    }

    .contactoEmail{
        font-size: 19px;
        left: 41.4%;
    }


    .metropolitano{
        height: 85px;
        width: 360px;
        left: 38.9%;
    }
}

@media (max-width: 1360px){

    header{
        width: 92vw;
        gap: 3px;
        font-size: 20px;
    }

    .fb{
        width: 20px;
        height: 20px;
    }

    .ig{
        width: 20px;
        height: 20px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        height: 1500px;
    }

    .principal{
        font-size: 20px;
        left: 24%;
        top: -7%;
    }

    .ellas{
        left: 22.1%;
        top: 7%;
    }

    .cecilia{
        width: 250px;
        height: 250px;
    }

    .h2cecilia{
        left: 7.4%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia{
        font-size: 18px;
        top: 25%;
    }

    .ailen{
        width: 250px;
        height: 250px;
    }

    .h2ailen{
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen{
        font-size: 18px;
        top: 25%;
        right: -7%;
    }

    .otros{
        left: 45%;
        bottom: 43%;
        font-size: 22px;
    }

    .proyectos{
        bottom: 18%;
        left: 9.2%;
    }

    .proyectos img{
        width: 180px;
        height: 250px;
    }

    .proyectos img:hover{
        
        transform: scale(1.6);
        
    }

    .contacto{
        font-size: 22px;
        left: 47.67%;
    }

    .contactoEmail{
        font-size: 19px;
        left: 41%;
    }


    .metropolitano{
        height: 85px;
        width: 360px;
        left: 38.8%;
    }
}

@media (max-width: 1280px){

    header{
        width: 90vw;
        gap: 3px;
        font-size: 21px;
    }

    .fb{
        width: 19px;
        height: 19px;
    }

    .ig{
        width: 19px;
        height: 19px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        height: 1500px;
    }

    .principal{
        font-size: 20px;
        left: 22.3%;
        top: -7%;
    }

    .ellas{
        left: 22.2%;
        top: 7%;
    }

    .cecilia{
        width: 250px;
        height: 250px;
    }

    .h2cecilia{
        left: 7.4%;
        font-size: 22px;
        top: 19%;
    }

    .pCecilia{
        font-size: 18px;
        top: 25%;
    }

    .ailen{
        width: 250px;
        height: 250px;
    }

    .h2ailen{
        font-size: 22px;
        top: 19%;
        right: 1%;
    }

    .pAilen{
        font-size: 18px;
        top: 25%;
        right: -7%;
    }

    .otros{
        left: 44.65%;
        bottom: 43%;
        font-size: 22px;
    }

    .proyectos{
        bottom: 18%;
        left: 9.2%;
    }

    .proyectos img{
        width: 180px;
        height: 250px;
    }

    .proyectos img:hover{
        
        transform: scale(1.6);
        
    }

    .contacto{
        font-size: 22px;
        left: 47.35%;
    }

    .contactoEmail{
        font-size: 19px;
        left: 40.2%;
    }


    .metropolitano{
        height: 85px;
        width: 360px;
        left: 38.05%;
    }
}

@media (max-width: 800px){

    body{
        width: 96vw;
    }

    header{
        width: 92vw;
        padding: 15px;
        gap: 2px;
        font-size: 18px;
    }

    .fb{
        width: 17px;
        height: 17px;
    }

    .ig{
        width: 17px;
        height: 17px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        width: 86vw;
        height: 1100px;
    }

    .principal{
        width: 75vw;
        font-size: 15px;
        left: 18.05%;
        top: -7%;
    }

    .ellas{
        left: 23.5%;
        top: 8.2%;
    }

    .cecilia{
        width: 150px;
        height: 150px;
    }

    .h2cecilia{
        left: 5.3%;
        font-size: 17px;
        top: 11.5%;
    }

    .pCecilia{
        font-size: 13px;
        top: 15%;
    }

    .ailen{
        width: 150px;
        height: 150px;
    }

    .h2ailen{
        font-size: 17px;
        top: 11.5%;
        right: -3%;
    }

    .pAilen{
        font-size: 13px;
        top: 15%;
        right: -17.5%;
    }

    .otros{
        left: 46.56%;
        bottom: 43%;
        font-size: 17px;
    }

    .proyectos{
        bottom: 15%;
        left: 9.2%;
    }

    .proyectos img{
        width: 100px;
        height: 150px;
    }

    .proyectos img:hover{
        
        transform: scale(1.6);
        
    }

    .contacto{
        font-size: 18px;
        left: 50.25%;
    }

    .contactoEmail{
        font-size: 16px;
        left: 40.1%;
        bottom: 2.8%;
    }

    footer{
        width: 86vw;
    }

    .metropolitano{
        height: 60px;
        width: 250px;
        left: 36.55%;
        bottom: 1%;
    }
}

@media (max-width: 768px){

    body{
        width: 96vw;
    }

    header{
        width: 92vw;
        padding: 15px;
        gap: 2px;
        font-size: 18px;
    }

    .fb{
        width: 17px;
        height: 17px;
    }

    .ig{
        width: 17px;
        height: 17px;
    }

    .afb{
        top: 1.9%;
    }

    .aig{
        top: 1.9%;
    }

    main{
        width: 86vw;
        height: 1100px;
    }

    .principal{
        width: 75vw;
        font-size: 15px;
        left: 18%;
        top: -7%;
    }

    .ellas{
        left: 25%;
        top: 8.2%;
    }

    .cecilia{
        width: 150px;
        height: 150px;
    }

    .h2cecilia{
        left: 5.3%;
        font-size: 17px;
        top: 11.5%;
    }

    .pCecilia{
        font-size: 13px;
        top: 15%;
    }

    .ailen{
        width: 150px;
        height: 150px;
    }

    .h2ailen{
        font-size: 17px;
        top: 11.5%;
        right: -3%;
    }

    .pAilen{
        font-size: 13px;
        top: 15%;
        right: -18%;
    }

    .otros{
        left: 48%;
        bottom: 44%;
        font-size: 16px;
    }

    .proyectos{
        bottom: 15%;
        left: 10.2%;
    }

    .proyectos img{
        width: 100px;
        height: 150px;
    }

    .proyectos img:hover{
        
        transform: scale(1.6);
        
    }

    .contacto{
        font-size: 16px;
        left: 51.8%;
    }

    .contactoEmail{
        font-size: 15px;
        left: 41%;
        bottom: 2.8%;
    }

    footer{
        width: 86vw;
    }

    .metropolitano{
        height: 60px;
        width: 250px;
        left: 37%;
        bottom: 1%;
    }
}

@media (min-width: 599px) and (max-width: 601px){

    header{
        width: 86vw;
        gap: 1px;
        font-size: 20px;
    }

    .fb{
        width: 18px;
        height: 18px;
    }

    .afb{
        top: 2%;
    }

    .ig{
        width: 18px;
        height: 18px;
    }
    
    .aig{
        top: 2%;
    }

    .nosotras{
        font-weight: 600;
    }

    main{
        width: 88vw;
    }

    .cristal{
        width: 100px;
        height: 100px;
        left: 47.9%;
    } 

    .principal{
        font-size: 18px;
        left: 11.8%;
    }

    .ellas{
        left: -1.6%;
    }

    .cecilia{
        width: 220px;
        height: 220px;
        left: 20%;
    }

    .h2cecilia{
        font-size: 24px;
        left: 25.2%;
        top: 18%;
    }

    .pCecilia{
        left: 20%;
        top: 24%;
        font-size: 16px;
    }

    .ailen{
        width: 220px;
        height: 220px;
        right: -6.3%;
    }
    .h2ailen{
        font-size: 24px;
        right: -8.2%;
        top: 18%;
    }

    .pAilen{
        font-size: 16px;
        right: -13.5%;
        top: 24%;
    }

    .otros{
        width: 30vw;
        left: 42.7%;
        font-size: 22px;
        bottom: 30%;
    }

    .proyectos{
        left: -3%;
        bottom: 13%;
    }

    .proyectos img{
        width: 120px;
        height: 180px;
    }

    .jauregui{
        left: 12%;
    }

    .jauregui:hover{
        z-index: 1000;
        transform: scale(1.4);
    }

    .unDiosQue{
        left: 30%;
        
    }

    .unDiosQue:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aParaQueDios{
        right: 34.5% ;
    }

    .paraQueDios:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aBiologas{
        right: 15.8%;
    }

    .biologas:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .puebloArgentino{
        right: -2%;
    }
    .puebloArgentino:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    footer{
        width: 88vw;
    }

    .metropolitano{
        width: 300px;
        height: 80px;
        left: 32%;
    }
}

@media (max-width: 412px){

    header{
        width: 90vw;
        gap: 1px;
        font-size: 14px;
        padding: 20px;
    }

    .fb{
        width: 13px;
        height: 13px;
    }

    .afb{
        top: 1.5%;
    }

    .ig{
        width: 13px;
        height: 13px;
    }
    
    .aig{
        top: 1.5%;
    }

    main{
        width: 97vw;
    }

    .cristal{
        width: 90px;
        height: 90px;
        left: 47.9%;
    } 

    .principal{
        font-size: 18px;
        left: 11.7%;
    }

    .ellas{
        left: -1.6%;
    }

    .cecilia{
        width: 150px;
        height: 150px;
        left: 15%;
    }

    .h2cecilia{
        font-size: 16px;
        left: 21.2%;
        top: 11.5%;
    }

    .pCecilia{
        left: 16%;
        top: 15%;
        font-size: 10px;
    }

    .ailen{
        width: 150px;
        height: 150px;
        right: -10.8%;
    }
    .h2ailen{
        font-size: 16px;
        right: -11.9%;
        top: 11.5%;
    }

    .pAilen{
        font-size: 10px;
        right: -18.9%;
        top: 15%;
    }

    .otros{
        width: 40vw;
        left: 33.8%;
        font-size: 20px;
        bottom: 34%;
    }

    .proyectos{
        left: -3%;
        bottom: 20%;
    }

    .proyectos img{
        width: 80px;
        height: 120px;
    }

    .jauregui{
        left: 8%;
    }

    .jauregui:hover{
        z-index: 1000;
        transform: scale(1.4);
    }

    .unDiosQue{
        left: 27.6%;
        
    }

    .unDiosQue:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aParaQueDios{

        right: 33.8%;
    }

    

    .paraQueDios:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aBiologas{
        right: 13.7%;
    }

    .biologas:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .puebloArgentino{
        right: -5.7%;
    }
    .puebloArgentino:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    footer{
        width: 88vw;
    }

    .metropolitano{
        width: 200px;
        height: 60px;
        left: 29.6%;
        bottom: 5%;
    }
}

@media (max-width: 385px){

    header{
        width: 90vw;
        gap: 1px;
        font-size: 10px;
        padding: 10px;
    }

    .fb{
        width: 9px;
        height: 9px;
    }

    .afb{
        top: 1.2%;
    }

    .ig{
        width: 9px;
        height: 9px;
    }
    
    .aig{
        top: 1.2%;
    }

    main{
        width: 97vw;
    }

    .cristal{
        width: 80px;
        height: 80px;
        left: 38%;
    } 

    .principal{
        font-size: 13px;
        left: 10%;
    }

    .ellas{
        left: -1.6%;
    }

    .cecilia{
        width: 110px;
        height: 110px;
        left: 12%;
    }

    .h2cecilia{
        font-size: 12px;
        left: 18%;
        top: 8.5%;
    }

    .pCecilia{
        left: 13%;
        top: 11%;
        font-size: 7px;
    }

    .ailen{
        width: 110px;
        height: 110px;
        right: -13.8%;
    }
    .h2ailen{
        font-size: 12px;
        right: -16%;
        top: 8.5%;
    }

    .pAilen{
        font-size: 7px;
        right: -20.7%;
        top: 11%;
    }

    .otros{
        width: 45vw;
        left: 33.8%;
        font-size: 16px;
        bottom: 38%;
    }

    .proyectos{
        left: -3%;
        bottom: 24%;
    }

    .proyectos img{
        width: 70px;
        height: 100px;
    }

    .jauregui{
        left: 10%;
    }

    .jauregui:hover{
        z-index: 1000;
        transform: scale(1.4);
    }

    .unDiosQue{
        left: 25.5%;
        bottom: 1%;
        
    }

    .unDiosQue:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aParaQueDios{
        right: 31.8% ;
    }

    .paraQueDios:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aBiologas{
        
        right: 13.7%;
        bottom: 1%;
    }

    .biologas:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .puebloArgentino{
        right: -2%;
    }
    .puebloArgentino:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    footer{
        width: 88vw;
    }

    .metropolitano{
        width: 180px;
        height: 50px;
        left: 20.4%;
        bottom: 8%;
    }
}

@media (max-width: 360px){

    header{
        width: 90vw;
        gap: 1px;
        font-size: 10px;
        padding: 10px;
    }

    .fb{
        width: 9px;
        height: 9px;
    }

    .afb{
        top: 1.2%;
    }

    .ig{
        width: 9px;
        height: 9px;
    }
    
    .aig{
        top: 1.2%;
    }

    main{
        width: 97vw;
    }

    .cristal{
        width: 80px;
        height: 80px;
        left: 38%;
    } 

    .principal{
        font-size: 13px;
        left: 10%;
    }

    .ellas{
        left: -1.6%;
    }

    .cecilia{
        width: 110px;
        height: 110px;
        left: 12%;
    }

    .h2cecilia{
        font-size: 12px;
        left: 18%;
        top: 8.5%;
    }

    .pCecilia{
        left: 13%;
        top: 11%;
        font-size: 7px;
    }

    .ailen{
        width: 110px;
        height: 110px;
        right: -13.8%;
    }
    .h2ailen{
        font-size: 12px;
        right: -16%;
        top: 8.5%;
    }

    .pAilen{
        font-size: 7px;
        right: -20.7%;
        top: 11%;
    }

    .otros{
        width: 45vw;
        left: 33.8%;
        font-size: 16px;
        bottom: 38%;
    }

    .proyectos{
        left: -3%;
        bottom: 24%;
    }

    .proyectos img{
        width: 70px;
        height: 100px;
    }

    .jauregui{
        left: 10%;
    }

    .jauregui:hover{
        z-index: 1000;
        transform: scale(1.4);
    }

    .unDiosQue{
        left: 25.5%;
        bottom: 1%;
        
    }

    .unDiosQue:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aParaQueDios{
        right: 31.8% ;
    }

    .paraQueDios:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .aBiologas{
        
        right: 13.7%;
        bottom: 1%;
    }

    .biologas:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    .puebloArgentino{
        right: -2%;
    }
    .puebloArgentino:hover{
        z-index: 100;
        transform: scale(1.4);
    }

    footer{
        width: 88vw;
    }

    .metropolitano{
        width: 180px;
        height: 50px;
        left: 20.4%;
        bottom: 8%;
    }
}