@font-face {
  font-family: "Rubik-Italic";
  src: url(./Fuentes/Rubik-Italic.ttf);
}

@font-face {
  font-family: "Rubik-Regular";
  src: url(./Fuentes/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Medium";
  src: url(./Fuentes/Rubik-Medium.ttf);
}

/* BODY */
body {
  background-image: url(./Imagenes/inicio\ fondo.png);
  background-color: #454960;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 2818px;
  color: white;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10.5px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color:#373442;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* HEADER */
header {
  display: flex;
  position: sticky;
  z-index: 10000;
  width: 93vw;
  height: 200px;
  top: 0%;
  gap: 4px;
  justify-content: flex-end;
  padding: 40px;
  font-size: 25px;
  color: #a19dad;
  font-family: "Rubik-Regular";
}

.fb {
  width: 22px;
  height: 22px;
}

.ig {
  width: 22px;
  height: 22px;
}

.aig {
  display: flex;
  position: relative;
  height: 15px;
  top: 3%;
}

.afb {
  display: flex;
  position: relative;
  height: 15px;
  top: 3%;
}

.inicio {
  font-family: "Rubik-Medium";
}

.aElProyecto {
  height: 15px;
  color: #a19dad;
  text-decoration: none;
}

.aElProyecto:hover {
  color: #ffffff;
}

.aNosotras {
  height: 15px;
  color: #a19dad;
  text-decoration: none;
}

.aNosotras:hover {
  color: #ffffff;
}

/* MAIN */
main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 96vw;
  height: 2260px;
  justify-content: center;
  font-family: "Rubik-Regular";
}

.fragmentos {
  display: flex;
  position: absolute;
  top: 0%;
  left: 40.5%;
  font-size: 70px;
  font-weight: 200;
  font-family: "Rubik-Medium";
}

.dolor {
  display: flex;
  position: absolute;
  top: 5.5%;
  left: 41.6%;
  font-size: 30px;
  color: #a19dad;
}

.cristal {
  display: flex;
  position: absolute;
  top: 18%;
  left: 48.4%;
  width: 120px;
  height: 120px;
}

.pFragmentos {
  display: flex;
  position: absolute;
  bottom: 64%;
  left: 33%;
  text-align: center;
  font-weight: 599;
  font-size: 30px;
}

.aDescargar {
  display: flex;
  position: absolute;
  bottom: 43%;
  left: 43.9%;
  font-size: 60px;
  text-decoration: none;
}

.descargar {
  height: 80px;
  width: 280px;
  border-radius: 50px;
  font-size: 50px;
  background-color: #a19dad;
  color: white;
  border: #ffffff;
}

.descargar:hover {
  color: #a19dad;
  background-color: #ffffff;
}

.requisitos {
  display: flex;
  position: absolute;
  bottom: 32%;
  left: 32.5%;
  text-align: center;
  font-size: 25px;
  color: #a19dad;
}

.contacto {
  display: flex;
  position: absolute;
  bottom: 26%;
  left: 48.3%;
  text-align: center;
  font-size: 28px;
  color: white;
}

.contactoEmail {
  display: flex;
  position: absolute;
  bottom: 25.7%;
  left: 42.4%;
  text-align: center;
  font-size: 24px;
  color: #a19dad;
}

/* FOOTER */
footer {
  display: flex;
  position: relative;
  height: 200px;
  width: 96vw;
  padding: 20px;
}

.metropolitano {
  display: flex;
  position: absolute;
  height: 120px;
  width: 500px;
  left: 37.1%;
  top: 30%;
}

@media (max-width: 1680px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
  }

  header {
    width: 92vw;
    font-size: 26px;
    gap: 3px;
  }

  .fb {
    width: 24px;
    height: 24px;
  }

  .ig {
    width: 24px;
    height: 24px;
  }

  .fragmentos {
    left: 38.15%;
  }

  .dolor {
    left: 39.5%;
  }

  .cristal {
    left: 47.7%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 30.9%;
  }

  .aDescargar {
    left: 42.3%;
  }

  .requisitos {
    font-size: 22px;
    left: 31.2%;
  }

  .contacto {
    font-size: 25px;
    left: 47.9%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 41.8%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 38.3%;
  }
}

@media (max-width: 1600px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
  }

  header {
    width: 92vw;
    font-size: 26px;
    gap: 3px;
  }

  .fb {
    width: 24px;
    height: 24px;
  }

  .ig {
    width: 24px;
    height: 24px;
  }

  .fragmentos {
    left: 38.15%;
  }

  .dolor {
    left: 39.5%;
  }

  .cristal {
    left: 47.7%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 30.9%;
  }

  .aDescargar {
    left: 42.3%;
  }

  .requisitos {
    font-size: 22px;
    left: 31.2%;
  }

  .contacto {
    font-size: 25px;
    left: 47.9%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 41.8%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 38.3%;
  }
}

@media (max-width: 1536px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1536.png);
  }

  header {
    width: 92vw;
    font-size: 24px;
  }

  .fb {
    width: 23px;
    height: 23px;
  }

  .ig {
    width: 23px;
    height: 23px;
  }

  .afb{
    top: 1.8%;
}

.aig{
    top: 1.8%;
}

  .fragmentos {
    left: 37.75%;
  }

  .dolor {
    left: 39.4%;
  }

  .cristal {
    left: 47.4%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 30.1%;
  }

  .aDescargar {
    left: 42%;
  }

  .requisitos {
    font-size: 22px;
    left: 30.4%;
  }

  .contacto {
    font-size: 25px;
    left: 47.8%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 41.6%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 37.55%;
  }
}

@media (max-width: 1440px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1440.png);
  }

  header {
    width: 92vw;
    font-size: 22px;
    gap: 3px;
  }

  .fb {
    width: 22px;
    height: 22px;
  }

  .ig {
    width: 22px;
    height: 22px;
  }

  .afb{
    top: 1.5%;
}

.aig{
    top: 1.5%;
}

  .fragmentos {
    left: 36.7%;
  }

  .dolor {
    left: 38.75%;
  }

  .cristal {
    left: 47%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 28.5%;
  }

  .aDescargar {
    left: 41.5%;
  }

  .requisitos {
    font-size: 22px;
    left: 28.8%;
  }

  .contacto {
    font-size: 24px;
    left: 47.5%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 40.7%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 36.45%;
  }
}

@media (max-width: 1366px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
  }

  header {
    width: 92vw;
    font-size: 20px;
    gap: 3px;
  }

  .fb {
    width: 21px;
    height: 21px;
  }

  .ig {
    width: 21px;
    height: 21px;
  }

  .fragmentos {
    top: 0%;
    font-size: 60px;
    left: 37.9%;
  }

  .dolor {
    top: 4.6%;
    font-size: 26px;
    left: 39%;
  }

  .cristal {
    top: 20%;
    left: 46.6%;
  }

  .pFragmentos {
    font-size: 23px;
    left: 29.9%;
    top: 30%;
  }

  .aDescargar {
    left: 43.1%;
  }

  .descargar {
    height: 65px;
    width: 220px;
    font-size: 40px;
  }

  .requisitos {
    font-size: 20px;
    left: 29.4%;
    bottom: 35%;
  }

  .contacto {
    font-size: 22px;
    left: 48.2%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 19px;
    left: 41.8%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 100px;
    width: 400px;
    left: 37.35%;
  }
}

@media (max-width: 1360px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
  }

  header {
    width: 92vw;
    font-size: 20px;
    gap: 3px;
  }

  .fb {
    width: 21px;
    height: 21px;
  }

  .ig {
    width: 21px;
    height: 21px;
  }

  .fragmentos {
    top: 0%;
    font-size: 60px;
    left: 37.9%;
  }

  .dolor {
    top: 4.6%;
    font-size: 26px;
    left: 39%;
  }

  .cristal {
    top: 20%;
    left: 46.6%;
  }

  .pFragmentos {
    font-size: 23px;
    left: 29.9%;
    top: 30%;
  }

  .aDescargar {
    left: 43.1%;
  }

  .descargar {
    height: 65px;
    width: 220px;
    font-size: 40px;
  }

  .requisitos {
    font-size: 20px;
    left: 29.4%;
    bottom: 35%;
  }

  .contacto {
    font-size: 22px;
    left: 48.2%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 19px;
    left: 41.8%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 100px;
    width: 400px;
    left: 37.35%;
  }
}

@media (max-width: 1280px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1280.png);
  }

  header{
    width: 90vw;
    gap: 3px;
    font-size: 21px;
}

.fb{
    width: 19px;
    height: 19px;
}

.ig{
    width: 19px;
    height: 19px;
}

.afb{
    top: 1.9%;
}

.aig{
    top: 1.9%;
}

  .fragmentos {
    top: 0%;
    font-size: 60px;
    left: 36.85%;
  }

  .dolor {
    top: 4.6%;
    font-size: 26px;
    left: 38.3%;
  }

  .cristal {
    top: 20%;
    left: 46.4%;
  }

  .pFragmentos {
    font-size: 23px;
    left: 28.6%;
    top: 30%;
  }

  .aDescargar {
    left: 41.2%;
  }

  .descargar {
    height: 75px;
    width: 250px;
    font-size: 45px;
  }

  .requisitos {
    font-size: 20px;
    left: 27.8%;
    bottom: 35%;
  }

  .contacto {
    font-size: 22px;
    left: 47.5%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 19px;
    left: 40.7%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 110px;
    width: 450px;
    left: 34.1%;
  }
}

@media (max-width: 800px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
    background-size: 100vw 1620px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

  header {
    height: 100px;
    width: 93vw;
    font-size: 18px;
    padding: 15px;
    gap: 1px;
  }

  .fb {
    width: 16px;
    height: 16px;
  }

  .ig {
    width: 16px;
    height: 16px;
  }

  .aig {
    top: 3.5%;
  }

  .afb {
    top: 3.5%;
  }

  main {
    height: 1200px;
  }

  .fragmentos {
    top: 0%;
    font-size: 40px;
    left: 35.6%;
  }

  .dolor {
    top: 5.9%;
    font-size: 17px;
    left: 37.2%;
  }

  .cristal {
    top: 20%;
    left: 44.7%;
    height: 90px;
    width: 90px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 24.2%;
    top: 30%;
  }

  .aDescargar {
    left: 40.6%;
  }

  .descargar {
    height: 50px;
    width: 160px;
    font-size: 30px;
  }

  .requisitos {
    font-size: 15px;
    left: 23.8%;
    bottom: 30%;
  }

  .contacto {
    font-size: 18px;
    left: 46.2%;
    bottom: 22%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 15px;
    left: 37.7%;
  }

  footer {
    width: 90vw;
    height: 200px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 33.3%;
    top: 60%;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 768.png);
    background-size: 100vw 1620px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

  header {
    width: 88vw;
    height: 100px;
    font-size: 18px;
    padding: 15px;
    gap: 2px;
  }

  .fb {
    width: 16px;
    height: 16px;
  }

  .ig {
    width: 16px;
    height: 16px;
  }

  .aig {
    top: 3.5%;
  }

  .afb {
    top: 3.5%;
  }

  main {
    height: 1200px;
  }

  .fragmentos {
    top: 0%;
    font-size: 40px;
    left: 34.8%;
  }

  .dolor {
    top: 6%;
    font-size: 17px;
    left: 36.8%;
  }

  .cristal {
    top: 20%;
    left: 44.7%;
    height: 90px;
    width: 90px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 23.2%;
    top: 30%;
  }

  .aDescargar {
    left: 40.1%;
  }

  .descargar {
    height: 50px;
    width: 160px;
    font-size: 30px;
  }

  .requisitos {
    font-size: 15px;
    left: 22.5%;
    bottom: 33%;
  }

  .contacto {
    bottom: 22%;
    font-size: 18px;
    left: 45.7%;
  }

  .contactoEmail {
    bottom: 21.8%;
    font-size: 15px;
    left: 36.6%;
  }

  footer {
    width: 85vw;
    height: 200px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 32.1%;
  }
}

@media (max-width: 720px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 768.png);
    background-size: 100vw 1620px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

  header{
    width: 92vw;
    padding: 10px;
    gap: 1px;
    font-size: 15px;
}

.fb{
    width: 14px;
    height: 14px;
}

.ig{
    width: 14px;
    height: 14px;
}

.afb{
    top: 2.5%;
}

.aig{
    top: 2.5%;
}

  main {
    height: 1200px;
  }

  .fragmentos {
    top: 0%;
    font-size: 40px;
    left: 34.8%;
  }

  .dolor {
    top: 6%;
    font-size: 17px;
    left: 36.8%;
  }

  .cristal {
    top: 20%;
    left: 44.7%;
    height: 90px;
    width: 90px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 23.2%;
    top: 30%;
  }

  .aDescargar {
    left: 40.1%;
  }

  .descargar {
    height: 50px;
    width: 160px;
    font-size: 30px;
  }

  .requisitos {
    font-size: 15px;
    left: 22.5%;
    bottom: 33%;
  }

  .contacto {
    bottom: 22%;
    font-size: 18px;
    left: 45.7%;
  }

  .contactoEmail {
    bottom: 21.8%;
    font-size: 15px;
    left: 36.6%;
  }

  footer {
    width: 85vw;
    height: 200px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 32.1%;
  }
}

@media (min-width: 599px) and (max-width: 601px) {
  header {
    width: 80vw;
    font-size: 12px;
    gap: 1px;
  }

  .inicio {
    font-weight: 590;
    font-family: "Rubik-Medium";
  }

  .fb {
    width: 10px;
    height: 10px;
  }

  .ig {
    width: 10px;
    height: 10px;
  }

  .aig {
    display: flex;
    position: relative;
    height: 15px;
    top: 2%;
  }

  .afb {
    display: flex;
    position: relative;
    height: 15px;
    top: 2%;
  }

  main {
    width: 80vw;
  }

  .fragmentos {
    top: 0%;
    left: 31%;
    font-size: 38px;
  }

  .dolor {
    left: 32%;
    font-size: 18px;
    top: 3.3%;
  }

  .cristal {
    top: 20%;
    left: 50%;
    height: 80px;
    width: 80px;
  }

  .pFragmentos {
    font-size: 11px;
    left: 25%;
  }

  .descargar {
    height: 40px;
    width: 130px;
    font-size: 25px;
  }

  .aDescargar {
    left: 43%;
    bottom: 34%;
  }

  .requisitos {
    left: 22%;
    font-size: 10px;
  }

  .metropolitano {
    height: 70px;
    width: 300px;
    left: 20%;
  }

  footer {
    width: 80vw;
  }
}

@media (min-width: 410px) and (max-width: 414px){
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 481.png);
    background-size: 100vw 1300px;
  }

  header {
    width: 92vw;
    height: 100px;
    font-size: 20px;
    padding: 0px;
    gap: 3px;
  }

  .fb {
    width: 17px;
    height: 17px;
  }

  .ig {
    width: 17px;
    height: 17px;
  }

  .aig {
    top: 3.5%;
  }

  .afb {
    top: 3.5%;
  }

  main {
    width: 93vw;
    height: 900px;
  }

  .fragmentos {
    top: 0%;
    font-size: 30px;
    left: 28.5%;
  }

  .dolor {
    top: 6%;
    font-size: 12px;
    left: 32%;
  }

  .cristal {
    top: 20%;
    left: 42.8%;
    height: 70px;
    width: 70px;
  }

  .pFragmentos {
    font-size: 12px;
    left: 13.7%;
    top: 30%;
  }

  .aDescargar {
    left: 36%;
  }

  .descargar {
    height: 40px;
    width: 120px;
    font-size: 20px;
  }

  .requisitos {
    width: 74vw;
    font-size: 8.4px;
    left: 22%;
    bottom: 32%;
  }

  .contacto {
    font-size: 12px;
    left: 44.7%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 10px;
    left: 32.6%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 50px;
    width: 200px;
    left: 26.5%;
  }
}

@media (max-width: 380px) and (max-width: 390px){
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 481.png);
    background-size: 100vw 1300px;
  }

  header {
    width: 92vw;
    height: 100px;
    font-size: 19px;
    padding: 0px;
    gap: 3px;
  }

  .fb {
    width: 17px;
    height: 17px;
  }

  .ig {
    width: 17px;
    height: 17px;
  }

  .aig {
    top: 3.5%;
  }

  .afb {
    top: 3.5%;
  }

  main {
    width: 93vw;
    height: 900px;
  }

  .fragmentos {
    top: 0%;
    font-size: 30px;
    left: 24.5%;
  }

  .dolor {
    top: 6%;
    font-size: 12px;
    left: 27.5%;
  }

  .cristal {
    top: 20%;
    left: 40.8%;
    height: 70px;
    width: 70px;
  }

  .pFragmentos {
    font-size: 12px;
    left: 8%;
    top: 30%;
  }

  .aDescargar {
    left: 34.5%;
  }

  .descargar {
    height: 35px;
    width: 110px;
    font-size: 20px;
  }

  .requisitos {
    width: 74vw;
    font-size: 8.4px;
    left: 18%;
    bottom: 32%;
  }

  .contacto {
    font-size: 12px;
    left: 43.5%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 10px;
    left: 30%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 50px;
    width: 200px;
    left: 22%;
  }
}

@media (max-width: 360px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 481.png);
    background-size: 100vw 1300px;
  }

  header {
    width: 92vw;
    height: 100px;
    font-size: 19px;
    padding: 0px;
    gap: 3px;
  }

  .fb {
    width: 17px;
    height: 17px;
  }

  .ig {
    width: 17px;
    height: 17px;
  }

  .aig {
    top: 3.5%;
  }

  .afb {
    top: 3.5%;
  }

  main {
    width: 93vw;
    height: 900px;
  }

  .fragmentos {
    top: 0%;
    font-size: 30px;
    left: 24.5%;
  }

  .dolor {
    top: 6%;
    font-size: 12px;
    left: 27.5%;
  }

  .cristal {
    top: 20%;
    left: 40.8%;
    height: 70px;
    width: 70px;
  }

  .pFragmentos {
    font-size: 12px;
    left: 8%;
    top: 30%;
  }

  .aDescargar {
    left: 34.5%;
  }

  .descargar {
    height: 35px;
    width: 110px;
    font-size: 20px;
  }

  .requisitos {
    width: 74vw;
    font-size: 8.4px;
    left: 18%;
    bottom: 32%;
  }

  .contacto {
    font-size: 12px;
    left: 43.5%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 10px;
    left: 30%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 50px;
    width: 200px;
    left: 22%;
  }
}
