@font-face {
  font-family: "Rubik-Italic";
  src: url(./Fuentes/Rubik-Italic.ttf);
}

@font-face {
  font-family: "Rubik-Regular";
  src: url(./Fuentes/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Medium";
  src: url(./Fuentes/Rubik-Medium.ttf);
}

/* BODY */
body {
  background-image: url(./Imagenes/Inicio/fondo\ de\ inicio\ 1920.png);
  background-color: #454960;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 2471px;
  color: white;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10.5px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color:#373442;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* HEADER */
header {
  background-color: #3f3543;
    display: flex;
    position: sticky;
    z-index: 10000;
    width: 340px;
    height: 30px;
    top: 0%;
    left: 100%;
    gap: 4px;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    color: #a19Dad;
    font-family: "Rubik-Regular";
}



.inicio {
  font-family: "Rubik-Medium";
}

.aElProyecto {
  height: 15px;
  color: #a19dad;
  text-decoration: none;
}

.aElProyecto:hover {
  color: #ffffff;
}

.aNosotras {
  height: 15px;
  color: #a19dad;
  text-decoration: none;
}

.aNosotras:hover {
  color: #ffffff;
}

/* MAIN */
main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 96vw;
  height: 2160px;
  justify-content: center;
  font-family: "Rubik-Regular";
}

.fragmentos {
  display: flex;
  position: absolute;
  top: 5%;
  left: 40.5%;
  font-size: 70px;
  font-weight: 200;
  font-family: "Rubik-Medium";
}

.dolor {
  display: flex;
  position: absolute;
  top: 10.7%;
  left: 41.6%;
  font-size: 30px;
  color: #a19dad;
}

.cristal {
  display: flex;
  position: absolute;
  top: 25%;
  left: 48.5%;
  width: 120px;
  height: 120px;
}

.pFragmentos {
  display: flex;
  position: absolute;
  bottom: 62%;
  left: 33.9%;
  text-align: center;
  font-weight: 599;
  font-size: 28px;
}

.aDescargar {
  display: flex;
  position: absolute;
  bottom: 46%;
  left: 43.95%;
  font-size: 60px;
  text-decoration: none;
}

.descargar {
  height: 80px;
  width: 280px;
  border-radius: 50px;
  font-size: 50px;
  background-color: #3f3543;
  color: white;
  border: #ffffff;
}

.descargar:hover {
  color:#3f3543;
  background-color: #ffffff;
}

.requisitos {
  display: flex;
  position: absolute;
  bottom: 35%;
  left: 32%;
  text-align: center;
  font-size: 26px;
  color: #a19dad;
}

.contacto {
  display: flex;
  position: absolute;
  bottom: 28%;
  left: 48.6%;
  text-align: center;
  font-size: 26px;
  color: white;
}

.contactoEmail {
  display: flex;
  position: absolute;
  bottom: 27%;
  left: 42.4%;
  text-align: center;
  font-size: 24px;
  color: #a19dad;
}

.fb, .ig {
  width: 40px;
  height: 40px;
}

.afb {
  display: flex;
  position: absolute;
  height: 15px;
  bottom: 25%;
  left: 49.3%;
}

.aig {
  display: flex;
  position: absolute;
  height: 15px;
  bottom: 25%;
  left: 52%;
}



/* FOOTER */
footer {
  display: flex;
  position: relative;
  height: 200px;
  width: 96vw;
  padding: 20px;
}

.metropolitano {
  display: flex;
  position: absolute;
  height: 115px;
  width: 500px;
  left: 37.3%;
  top: 30%;
}

@media screen and (max-width: 1680px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
    background-size: 100% 2467px;
  }

  .fragmentos {
    left: 38.8%;
  }

  .dolor {
    left: 40%;
  }

  .cristal {
    left: 47.85%;
  }

  .pFragmentos {
    font-size: 27px;
    left: 31.9%;
  }

  .aDescargar {
    left: 42.9%;
  }

  .requisitos {
    font-size: 22px;
    left: 32.08%;
    bottom: 38%;
  }

  .contacto {
    font-size: 25px;
    left: 48.2%;
  }

  .contactoEmail {
    font-size: 21px;
    left: 42.4%;
  }

  .afb{
    left:48.75%;
  }

  .aig{
    left: 51.95%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 105px;
    width: 450px;
    left: 39%;
  }
}

@media screen and (max-width: 1600px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1600.png);
    background-size: 100% 2350px;
  }

  main{
    height: 2040px;
  }

  .fragmentos {
    left: 38.1%;
  }

  .dolor {
    top: 11%;
    left: 39.6%;
  }

  .cristal {
    left: 47.8%;
  }

  .pFragmentos {
    font-size: 26px;
    left: 31.85%;
  }

  .aDescargar {
    left: 42.4%;
  }

  .requisitos {
    font-size: 22px;
    left: 31%;
  }

  .contacto {
    font-size: 24px;
    left: 48%;
  }

  .contactoEmail {
    font-size: 22px;
    left: 41.7%;
  }

  .afb{
    left:48.6%;
  }

  .aig{
    left: 51.8%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 105px;
    width: 450px;
    left: 38.4%;
  }
}

@media screen and (max-width: 1536px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1536.png);
    background-size: 100% 2256px ;  
  }

  main{
    height: 1950px;
  }

  .fragmentos {
    top: 7%;
    left: 37.7%;
  }

  .dolor {
    top: 13.2% ;
    left: 39.4%;
  }

  .cristal {
    left: 47.55%;
  }

  .pFragmentos {
    font-size: 26px;
    left: 30.9%;
  }

  .aDescargar {
    left: 42.1%;
  }

  .requisitos {
    font-size: 22px;
    left: 30.3%;
  }

  .contacto {
    font-size: 24px;
    left: 47.95%;
  }

  .contactoEmail {
    font-size: 22px;
    left: 41.3%;
  }

  .afb{
    
    left: 48.6%;
  }

  .aig{
    left: 52%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 105px;
    width: 450px;
    left: 37.65%;
  }
}

@media screen and (max-width: 1440px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1440.png);
    background-size: 100% 2115px;
  }

  main{
    height: 1810px;
  }


  .fragmentos {
    top: 6.4%;
    left: 36.7%;
  }

  .dolor {
    left: 38.75%;
  }

  .cristal {
    left: 47.2%;
  }

  .pFragmentos {
    bottom: 61%;
    font-size: 26px;
    left: 29.7%;
  }

  .aDescargar {
    left: 41.4%;
  }

  .requisitos {
    bottom: 35.5%;
    font-size: 22px;
    left: 28.85%;
  }

  .contacto {
    font-size: 24px;
    left: 47.75%;
  }

  .contactoEmail {
    font-size: 22px;
    left: 40.3%;
  }

  .afb{
    left: 48.2%;
  }

  .aig{
    left: 51.8%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 105px;
    width: 450px;
    left: 36.45%;
  }
}

@media screen and (max-width: 1366px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
    background-size: 100% 1997px;
  }


  

  main{
    height: 1700px;
  }

  .fragmentos {
    top: 5%;
    font-size: 60px;
    left: 37.85%;
  }

  .dolor {
    top: 11.2%;
    font-size: 26px;
    left: 39.2%;
  }

  .cristal {
    top: 26%;
    left: 47.5%;
    width: 105px;
    height: 105px;
  }

  .pFragmentos {
    font-size: 22px;
    left: 31.6%;
    top: 32%;
  }

  .aDescargar {
    left: 43.1%;
    bottom: 45%;
  }

  .descargar {
    height: 70px;
    width: 220px;
    font-size: 40px;
  }

  .requisitos {
    font-size: 20px;
    left: 29.25%;
    bottom: 35%;
  }

  .contacto {
    bottom: 26.5%;
    font-size: 22px;
    left: 47.75%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 20px;
    left: 41.05%;
  }

  .fb, .ig{
    height: 30px;
    width: 30px;
  }

  .afb{
    left: 49.15%;
    bottom: 23%;
  }

  .aig{
    left: 51.75%;
    bottom: 23%;
  }

  footer {
    height: 100px;
    width: 90vw;
  }

  .metropolitano {
    height: 100px;
    width: 400px;
    left: 37.45%;
    top: 10%;
  }
}

@media screen and (max-width: 1360px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1360.png);
    background-size: 100% 1997px;
  }


  

  main{
    height: 1700px;
  }

  .fragmentos {
    top: 5%;
    font-size: 60px;
    left: 37.85%;
  }

  .dolor {
    top: 11.2%;
    font-size: 26px;
    left: 39.2%;
  }

  .cristal {
    top: 26%;
    left: 47.5%;
    width: 105px;
    height: 105px;
  }

  .pFragmentos {
    font-size: 22px;
    left: 31.6%;
    top: 32%;
  }

  .aDescargar {
    left: 43.1%;
    bottom: 45%;
  }

  .descargar {
    height: 70px;
    width: 220px;
    font-size: 40px;
  }

  .requisitos {
    font-size: 20px;
    left: 29.25%;
    bottom: 35%;
  }

  .contacto {
    bottom: 26.5%;
    font-size: 22px;
    left: 47.75%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 20px;
    left: 41.05%;
  }

  .fb, .ig{
    height: 30px;
    width: 30px;
  }

  .afb{
    left: 49.15%;
    bottom: 23%;
  }

  .aig{
    left: 51.75%;
    bottom: 23%;
  }

  footer {
    height: 100px;
    width: 90vw;
  }

  .metropolitano {
    height: 100px;
    width: 400px;
    left: 37.45%;
    top: 10%;
  }
}

@media screen and (max-width: 1280px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1280.png);
    background-size: 100% 1880px;
  }

  main{
    height: 1670px;
  }

  .fragmentos {
    top: 6%;
    font-size: 60px;
    left: 36.9%;
  }

  .dolor {
    top: 12.4%;
    font-size: 26px;
    left: 38.3%;
  }

  .cristal {
    top: 27%;
    left: 47.15%;
  }

  .pFragmentos {
    font-size: 22px;
    left: 30.3%;
    top: 33%;
  }

  .aDescargar {
    left: 41.4%;
  }

  .descargar {
    height: 75px;
    width: 250px;
    font-size: 45px;
  }

  .requisitos {
    font-size: 20px;
    left: 27.8%;
    bottom: 35%;
  }

  .contacto {
    font-size: 22px;
    left: 47.35%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 20px;
    left: 40%;
  }

  .afb{
    left: 48.7%;
  }

  .aig{
    left: 51.7%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 105px;
    width: 450px;
    left: 34.18%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 1024.png);
    background-size: 100% 1504px;
  }

  header{
    width: 270px;
    height: 25px;
    top: 0%;
    left: 100%;
    gap: 2px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px
  }

  main{
    height: 1300px;
  }

  .fragmentos {
    top: 6%;
    font-size: 50px;
    left: 36.2%;
  }

  .dolor {
    top: 13%;
    font-size: 20px;
    left: 38.45%;
  }

  .cristal {
    top: 27%;
    left: 46.8%;
    height: 90px;
    width: 90px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 30.4%;
    top: 33%;
  }

  .aDescargar {
    left: 41%;
  }

  .descargar {
    height: 60px;
    width: 200px;
    font-size: 35px;
  }

  .requisitos {
    font-size: 18px;
    left: 26.5%;
    bottom: 35%;
  }

  .contacto {
    font-size: 20px;
    left: 46.9%;
  }

  .contactoEmail {
    bottom: 25.9%;
    font-size: 18px;
    left: 38.9%;
  }

  .afb{
    left: 47.8%;
  }

  .aig{
    left: 51.8%;
  }

  footer {
    width: 90vw;
  }

  .metropolitano {
    height: 85px;
    width: 350px;
    left: 34.18%;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
    background-size: 100vw 1175px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

  header {
    
    width: 245px;
    font-size: 18px;
    padding: 8px;
    height: 25px;
    
  }


  main {
    height: 950px;
  }

  .fragmentos {
    top: 2%;
    font-size: 40px;
    left: 35.6%;
  }

  .dolor {
    top: 9.6%;
    font-size: 17px;
    left: 37.9%;
  }

  .cristal {
    top: 27%;
    left: 45.85%;
    height: 80px;
    width: 80px;
  }

  .pFragmentos {
    font-size: 18px;
    left: 24.5%;
    top: 35%;
  }

  .aDescargar {
    left: 40.75%;
    bottom: 42%;
  }

  .descargar {
    height: 50px;
    width: 160px;
    font-size: 30px;
  }

  .requisitos {
    font-size: 16px;
    left: 22.4%;
    bottom: 30%;
  }

  .contacto {
    font-size: 18px;
    left: 46.2%;
    bottom: 22.5%;
  }

  .contactoEmail {
    bottom: 22%;
    font-size: 16px;
    left: 37.15%;
  }

  .fb, .ig{
    height: 25px;
    width: 25px;
  }

  .afb{
    left: 47.30%;
    bottom: 19%;
  }

  .aig{
    left: 51.6%;
    bottom: 19%;
  }

  footer {
    width: 90vw;
    height: 100px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 33.35%;
    top: 30%;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
    background-size: 100vw 1175px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

    header {
    
      width: 245px;
      font-size: 18px;
      padding: 7px;
      height: 20px;
      
    }
  

  main {
    height: 950px;
  }

  .fragmentos {
    top: 2%;
    font-size: 40px;
    left: 34.8%;
  }

  .dolor {
    top: 9.8%;
    font-size: 17px;
    left: 37.2%;
  }

  .cristal {
    top: 23%;
    left: 46.05%;
    height: 75px;
    width: 75px;
  }

  .pFragmentos {
    font-size: 16px;
    left: 26.05%;
    top: 30%;
  }

  .aDescargar {
    left: 40.75%;
    bottom: 44% ;
  }

  .descargar {
    height: 45px;
    width: 150px;
    font-size: 28px;
  }

  .requisitos {
    font-size: 14px;
    left: 24.75%;
    bottom: 33%;
  }

  .contacto {
    bottom: 22.4%;
    font-size: 16px;
    left: 46.35%;
  }

  .contactoEmail {
    bottom: 21.8%;
    font-size: 14px;
    left: 37.85%;
  }

  .fb, .ig{
    height: 25px;
    width: 25px;
  }

  .afb{
    left: 47.25%;
    bottom: 19%;
  }

  .aig{
    left: 51.55%;
    bottom: 19%;
  }

  footer {
    width: 85vw;
    height: 100px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 34.1%;
  }
}

@media screen and (max-width: 720px) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ fondo\ 800.png);
    background-size: 100vw 1175px;
  }

  body::-webkit-scrollbar:vertical {
    width: 9px;
  }

    header {
    
      width: 245px;
      font-size: 18px;
      padding: 7px;
      height: 20px;
      
    }
  

  main {
    height: 950px;
  }

  .fragmentos {
    top: 2%;
    font-size: 40px;
    left: 34.8%;
  }

  .dolor {
    top: 9.8%;
    font-size: 17px;
    left: 37.2%;
  }

  .cristal {
    top: 23%;
    left: 46.05%;
    height: 75px;
    width: 75px;
  }

  .pFragmentos {
    font-size: 16px;
    left: 26.05%;
    top: 30%;
  }

  .aDescargar {
    left: 40.75%;
    bottom: 44% ;
  }

  .descargar {
    height: 45px;
    width: 150px;
    font-size: 28px;
  }

  .requisitos {
    font-size: 14px;
    left: 24.75%;
    bottom: 33%;
  }

  .contacto {
    bottom: 22.4%;
    font-size: 16px;
    left: 46.35%;
  }

  .contactoEmail {
    bottom: 21.8%;
    font-size: 14px;
    left: 37.85%;
  }

  .fb, .ig{
    height: 25px;
    width: 25px;
  }

  .afb{
    left: 47.25%;
    bottom: 19%;
  }

  .aig{
    left: 51.55%;
    bottom: 19%;
  }

  footer {
    width: 85vw;
    height: 100px;
  }

  .metropolitano {
    height: 70px;
    width: 280px;
    left: 34.1%;
  }
}

@media screen and (min-width: 599px) and (max-width: 601px) {
  header {
    width: 80vw;
    font-size: 12px;
    gap: 1px;
  }

  .inicio {
    font-weight: 590;
    font-family: "Rubik-Medium";
  }

  .fb {
    width: 10px;
    height: 10px;
  }

  .ig {
    width: 10px;
    height: 10px;
  }

  .aig {
    display: flex;
    position: relative;
    height: 15px;
    top: 2%;
  }

  .afb {
    display: flex;
    position: relative;
    height: 15px;
    top: 2%;
  }

  main {
    width: 80vw;
  }

  .fragmentos {
    top: 0%;
    left: 31%;
    font-size: 38px;
  }

  .dolor {
    left: 32%;
    font-size: 18px;
    top: 3.3%;
  }

  .cristal {
    top: 20%;
    left: 50%;
    height: 80px;
    width: 80px;
  }

  .pFragmentos {
    font-size: 11px;
    left: 25%;
  }

  .descargar {
    height: 40px;
    width: 130px;
    font-size: 25px;
  }

  .aDescargar {
    left: 43%;
    bottom: 34%;
  }

  .requisitos {
    left: 22%;
    font-size: 10px;
  }

  .metropolitano {
    height: 70px;
    width: 300px;
    left: 20%;
  }

  footer {
    width: 80vw;
  }
}

@media screen and (min-width: 405px) and (max-width: 420px) and (orientation: portrait){
  body {
    background-image: url(./Imagenes/Inicio/inicio\ 412x950.png);
    background-size: 100% 950px;
  }

  header{
    width: 210px;
    font-size: 15px;
    padding: 7px;
    height: 20px;
    left: 22.8%;
    
}

  

  main {
    width: 93vw;
    height: 810px;
  }

  .fragmentos {
    top: 5.5%;
    font-size: 30px;
    left: 28.5%;
  }

  .dolor {
    top: 11.8%;
    font-size: 12px;
    left: 32%;
  }

  .cristal {
    top: 29%;
    left: 44%;
    height: 55px;
    width: 55px;
  }

  .pFragmentos {
    font-size: 12px;
    left: 13.7%;
    top: 35%;
  }

  .aDescargar {
    left: 37%;
    bottom: 38%;
  }

  .descargar {
    height: 32px;
    width: 110px;
    font-size: 18px;
  }

  .requisitos {
    width: 74vw;
    font-size: 9px;
    left: 15.6%;
    bottom: 29%;
  }

  .contacto {
    bottom: 18%;
    font-size: 12px;
    left: 44.7%;
  }

  .contactoEmail {
    bottom: 17%;
    font-size: 10px;
    left: 32.6%;
  }

  .fb, .ig{
    height: 20px;
    width: 20px;
  }

  .afb{
    left: 46%;
    bottom: 12%;
  }

  .aig{
    left: 52.4%;
    bottom: 12%;
  }

  footer {
    width: 80vw;
    height: 50px;
  }

  .metropolitano {
    height: 50px;
    width: 200px;
    left: 26.3%;
  }
}

@media screen and  (min-width: 374px) and (max-width: 394px) and (orientation: portrait){
  body {
    background-image: url(./Imagenes/Inicio/inicio\ 385x900.png);
    background-size: 100% 900px;
  }

  header{
    width: 210px;
    font-size: 15px;
    padding: 7px;
    height: 20px;
    left: 20.9%;
    
}

  main {
    width: 93vw;
    height: 710px;
  }

  .fragmentos {
    top: 4%;
    font-size: 30px;
    left: 26.7%;
  }

  .dolor {
    top: 11.8%;
    font-size: 12px;
    left: 30%;
  }

  .cristal {
    top: 28%;
    left: 44.6%;
    height: 50px;
    width: 50px;
  }

  .pFragmentos {
    font-size: 10px;
    left: 17.5%;
    top: 35%;
  }

  .aDescargar {
    left: 36%;
    bottom: 41%;
  }

  .descargar {
    height: 32px;
    width: 110px;
    font-size: 18px;
  }

  .requisitos {
    width: 74vw;
    font-size: 9px;
    left: 12.8%;
    bottom: 28%;
  }

  .contacto {
    bottom: 17%;
    font-size: 12px;
    left: 44.15%;
  }

  .contactoEmail {
    bottom: 16%;
    font-size: 10px;
    left: 31.2%;
  }

  .fb, .ig{
    height: 21px;
    width: 21px;
  }

  .afb{
    left: 45.2%;
    bottom: 9%;
  }

  .aig{
    left: 52.3%;
    bottom: 9%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 45px;
    width: 180px;
    left: 27.3%;
    top: 60%;
  }
}

@media screen and (min-width: 355px) and (max-width: 365px) and (orientation: portrait) {
  body {
    background-image: url(./Imagenes/Inicio/inicio\ 360x800.png);
    background-size: 100% 800px;
  }

  header{
    width: 210px;
    font-size: 15px;
    padding: 7px;
    height: 20px;
    left: 19.2%;
    
}

  

  main {
    width: 93vw;
    height: 610px;
  }

  .fragmentos {
    top: 3%;
    font-size: 30px;
    left: 24.7%;
  }

  .dolor {
    top: 11.8%;
    font-size: 12px;
    left: 27.7%;
  }

  .cristal {
    top: 25%;
    left: 43%;
    height: 55px;
    width: 55px;
  }

  .pFragmentos {
    font-size: 10px;
    left: 17%;
    top: 35%;
  }

  .aDescargar {
    left: 35.5%;
    bottom: 41%;
  }

  .descargar {
    height: 30px;
    width: 110px;
    font-size: 18px;
  }

  .requisitos {
    width: 78vw;
    font-size: 9px;
    left: 13%;
    bottom: 27%;
  }

  .contacto {
    bottom: 16%;
    font-size: 12px;
    left: 43.5%;
  }

  .contactoEmail {
    bottom: 15%;
    font-size: 10px;
    left: 30%;
  }

  .fb, .ig{
    height: 21px;
    width: 21px;
  }

  .afb{
    left: 44.5%;
    bottom: 10%;
  }

  .aig{
    left: 52.3%;
    bottom: 10%;
  }

  footer {
    width: 80vw;
    height: 100px;
  }

  .metropolitano {
    height: 40px;
    width: 160px;
    left: 27.7%;
  }
}
